<header>
    <div class="header__inner">
        <a class="no-recolor" id="logo" href="/" translate="no">Open Workshop</a>

        {% if catalog %}
        <input type="search" placeholder="Поиск..." id="search-in-catalog-header" autocomplete="off" onchange="nameSearch(this)">
        {% endif %}

        <nav>
            <ul>
                {% set nav_labels = { 'about': 'О проекте', 'api': 'API' } %}
                {% for item in ow.site.nav %}
                <li>
                    <a href="{{ item.href }}" {% if item.translate == 'no' %}translate="no"{% endif %}>{{ nav_labels[item.id] }}</a>
                </li>
                {% endfor %}
                
                {% if not user_profile %}
                <li id="login-pc" class="dropdown">
                    <a class="no-recolor" translate="no">Вход</a>
                    <ul>
                        {% for provider in ow.site.auth_providers %}
                        <img onclick="serviceAuthorization('{{ ow.api.base }}{{ provider.path }}')" src="{{ provider.icon }}" alt="{{ provider.label }} logo">
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                
                {% if user_profile %}
                <li id="profile-pc" class="dropdown">
                    <img src="{{ user_profile.avatar_url }}" alt="Аватар пользователя">
                    <a class="header__profile-link" href="/user/{{ user_profile.id }}"></a>
                    <ul>
                        {% for item in ow.site.profile_menu %}
                        {% set href = item.href.format(id=user_profile.id) %}
                        {% if item.id == 'my_mods' %}
                        {% set href = href + '?show_not_public=true' %}
                        {% endif %}
                        <a href="{{ href }}">{{ {'upload_mod':'Загрузить мод','my_mods':'Мои моды','settings':'Настройки'}[item.id] }}</a>
                        {% endfor %}
                        <a onclick="logon()">Выйти</a>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
    <cookies>
        <span class="desktop">Ради вашего удобства наш сайт использует cookies! <a href="{{ ow.site.legal.cookies }}">Узнать больше!</a></span>
        <span class="mobile">Мы используем <a href="{{ ow.site.legal.cookies }}">cookies</a></span>
        <button class="small" onclick="cookiesOkPress()">OK</button>
    </cookies>
</header>
