<div class="standart-panel screenshots-edit">
    <div class="wrapper screenshots-edit__wrapper">
        <div class="slider screenshots-edit__slider{% if resources['no_many_screenshots'] %} one_slider{% endif %}">
            <ul class="js__slider__images slider__images">
                {% for item in resources['results'] %}
                <a starthref="{{ item['url'] }}" idimg="{{ item['id'] }}" href="{{ item['url'] }}" starttypecontent="{{ item['type'] }}" typecontent="{{ item['type'] }}" class="slider__images-item screenshots-edit__item without-caption image-link">
                    <img src="{{ item['url'] }}" alt="Скриншот мода" class="slider__images-image" onerror="this.src='/assets/images/image-not-found.webp'" />
                </a>
                {% endfor %}
            </ul>

            <img id="no-screenshots-error" src="/assets/images/image-not-found.webp" alt="Скриншот мода" />

            <div class="edit-logos screenshots-edit__controls">
                <div class="slider__controls screenshots-edit__controls-main">
                    <div id="screenshot-edit-menu-{{ uid | default('1') }}" class="screenshots-edit__menu">
                        <select id="type-select-screenshot" onchange="setTypeScreenshotSelect()" name="Выбор типа" class="screenshots-edit__select">
                            <option value="logo">Логотип</option>
                            <option value="screenshot">Скриншот</option>
                        </select>
                        <input id="url-select-screenshot" onchange="setUrlScreenshotSelect()" type="url" placeholder="Ссылка на изображение" class="screenshots-edit__input">
                    </div>
                    <div class="screenshots-edit__pagers">
                        <ol class="js__slider__pagers slider__pagers"></ol>
                        <p id="no-screenshots-edit">Скриншотов нет</p>
                    </div>
                </div>
                <div class="images-buttons screenshots-edit__actions">
                    <button class="anime-scale screenshots-edit__button screenshots-edit__button--delete" onclick="deleteScreenshotSelect()" import-height="div#screenshot-edit-menu-{{ uid | default('1') }}">
                        <img src="/assets/images/delete-image.svg" alt="Иконка удаления изображения">
                    </button>
                    <button class="anime-scale screenshots-edit__button screenshots-edit__button--add" onclick="addScreenshotSelect()">
                        <img src="/assets/images/add-element.svg" alt="Иконка добавления нового изображения">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
