
.outline-container {
    border: var(--panel-border);
    margin-top: var(--space-1);
    border-radius: var(--radius-md);
    padding: var(--space-2);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.outline-container > h3, .outline-container > h4 {
    width: 100%;
    text-align: center;
}


.outline-container > .element {
    margin-top: var(--space-2);
    cursor: pointer;
    border-radius: var(--radius-sm);
    padding: var(--space-2);
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    padding-top: auto;
    padding-bottom: auto;
    transition: background-color 0.1s;
}
.outline-container > .element:hover {
    background-color: rgba(15, 15, 15, 0.9);
}
.outline-container > .element img {
    border-radius: var(--radius-sm);
    margin-right: var(--space-2);
    max-width: 50pt;
    height: 30pt;
}
.outline-container > .element h3 {
    vertical-align: middle;
}
.outline-container > .element div {
    height: 10%;
    vertical-align: middle;
}
