.dependence-edit {
  padding-top: 0;
}

.dependence-edit .element {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border-radius: var(--radius-md);
  background: #2b2d38;
  transition: all 0.2s ease;
  overflow: hidden;
}

.dependence-edit .element > img {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-sm);
  object-fit: cover;
}

.dependence-edit .element > e {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 70px);
  gap: 6px;
}

.dependence-edit .element > e > h3 {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.dependence-edit .element > e > img {
  width: 22px;
}

#mod-dependence-selected {
  margin-bottom: 4px;
  min-height: 56px;
  gap: 3px;
  display: flex;
  flex-direction: column;
}

#mod-dependence-selected > div.element,
#dependence-edit-search-dependence > div.element {
  cursor: pointer;
}

.dependence-edit__header {
  padding: 5px;
}

.dependence-edit .all-mod-dependence {
  padding: 4px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.dependence-edit .alls > .element {
  padding: 4px;
}

.dependence-edit .all-mod-dependence > .element > e > h3 {
  max-width: 100%;
}

.dependence-edit .dependence-selected {
  background: var(--interactive-element-background);
}

.dependence-edit .dependence-selected:hover {
  background: var(--interactive-element-background-hover);
}

.dependence-edit .dependence-selected:active {
  background: var(--interactive-element-background-active);
}
