
header {
    background-color: var(--header-background);
    
    display: flex;
    justify-content: center;

    position: fixed;
    z-index: 9;

    width: 100%;
}

header .header__inner {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-4);
}

header #logo {
    float: left;
    padding: 13.5px;

    background: none;
    font-size: xx-large;
}

header nav {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
header nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin-right: 25px;
    width: fit-content;
}
header nav a {
    background: none;
}
header nav li:not(.dropdown) > a {
    padding: 10px;
}
header nav li.dropdown > a {
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    
    background: none;
    cursor: default;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav li.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: var(--header-height);
  aspect-ratio: 1 / 1;

  margin-left: 20px;

  background-color: var(--header-background);
}

header nav li.dropdown > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;

    background-color: var(--header-background);
    
    top: calc(var(--header-height) * -1);
    opacity: 0;
    transition: all 0.1s;
    
    padding: 3px;

    padding-left: 2pt;
    padding-right: 2pt;

    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
}
header nav li.dropdown img {
    width: 50px;
    border-radius: var(--radius-md);
    cursor: pointer;
}
header nav li.dropdown:hover > ul {
    top: var(--header-height);
    opacity: 1;
}

header #profile-pc {
    cursor: pointer;
}
header #profile-pc > img {
    width: 40px;
    border-radius: var(--radius-md);
}

header #profile-pc .header__profile-link {
    cursor: pointer;
}


cookies {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    text-align: center;
    line-height: var(--header-height);
    background: #313131;
    color: white;
    font-size: 20px;
    font-weight: 100;
    transform: translateY(calc(var(--header-height) * -2));
    transition: all 0.2s;
    z-index: 9;
}
cookies.show {
    transform: translateY(0px);
}

@media screen and (max-width: 780px) {
    cookies > span.desktop {
        display: none;
    }
    header nav {
        display: none;
    }
}
@media screen and (min-width: 781px) {
    cookies > span.mobile {
        display: none;
    }
}
