
main.login-popup > div {
    max-width: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
main.login-popup > div > * {
    cursor: pointer;
}

main.login-popup > div > input {
    margin-right: 5px;
}


input[type="checkbox"] {
    pointer-events: none;
}


button#continue-link {
    margin-top: 20px;
}
