
:root {
    --standart-main-width: 1000px;
    --about-main-width: 700px;
    --catalog-main-width: 2000px;
}


main {
    background-color: var(--surface-background);
    border: var(--surface-border);
    box-shadow: var(--shadow-soft);

    border-radius: var(--radius-lg);
    padding: var(--space-2);
    margin: var(--space-3);
    margin-bottom: var(--space-1);

    height: fit-content;
    max-width: var(--standart-main-width);

    z-index: 0;
}

main.catalog {
    background: none;
    border: 0;
    box-shadow: none;

    width: var(--catalog-main-width);
    max-width: var(--catalog-main-width);

    margin: 0;

    display: flex;
    flex-direction: row;
}

main.mod {
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius-lg);
    padding: var(--space-2);
    margin: 1;
    display: flex;
}

main.user {
    width: 100%;
    max-width: 670px;
}

main.user.settings {
    display: flex;
}

main.login-popup {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: none;
    border: 0;
    box-shadow: none;

    width: 100%;
    max-width: none;
    top: 20%;
}

main.error {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 40%;
    
    background: none;
    border: 0;
    box-shadow: none;
}


@media screen and (max-width: 450px) {
    main.user.settings {
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    main {
        margin: 0;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    main.mod {
        flex-direction: column;
        
        border-radius: 0;
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    main:not([class]) {
        margin: 0;
        border-radius: 0;
    }
}
