
main.user.settings > pager {
    width: min-content;
    max-width: 200px;
}
main.user.settings > pager > * {
    text-align: center;

    width: 100%;
}
main.user.settings > pager > label {
    display: block;

    font-size: x-large;

    padding: 5px;
}
main.user.settings > pager > button {
    margin: 1px;
}


button#page-save-button {
    margin-top: 10px;
}


#page-profile, #page-integrate, #page-rights, #page-delete-account {
    transition: opacity 0.2s;
}

#page-rights > div {
    display: flex;
    align-items: center;
    
    width: 100%;
}

#page-integrate > button.service {
    background: none;
    min-width: 140px;
}
#page-integrate > button.service > img {
    width: 60px;
    border-radius: 10px;
}
#page-integrate > button.service > p {
    font-size: larger;
}

#page-integrate > button.service:disabled {
    filter: grayscale(100%);
}


@media screen and (max-width: 450px) {
    main.user.settings > pager {
        width: 100%;
        align-self: center;
    }
}
@media screen and (min-width: 451px) {
    main.user.settings > pager {
        margin-right: 10px;
    }    
}
