
@font-face {
  font-family: 'vcrosdmonorusbyd';
  src: url('vcrosdmonorusbyd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

.middle {
display: table-cell;
vertical-align: middle;
}

.inner {
margin-left: auto;
margin-right: auto;
width: 100%;
/* Whatever width you want */
}




body,
h1,
h2,
h3,
h4,
p,
a {
  color: #e0e2f4;
}

body,
p {
  font: normal 45px/1.25rem "VT323", monospace;
  font-family: 'vcrosdmonorusbyd';
}

p {
  width: 100%;
  text-align: center;
  height: 80px;
}

h1 {
  font: normal 3.75rem/1.05em "VT323", monospace;
}

h2 {
  font: normal 3.25rem/1.25em "VT323", monospace;
}

h3 {
  font: lighter 2.5rem/1.25em "VT323", monospace;
}

h4 {
  font: lighter 1.125rem/1.2222222em "VT323", monospace;
}

body {
  background: #0414a7;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}
.bsod .neg {
  text-align: center;
  color: #0414a7;
}
.bsod .neg .bg {
  background: #aaaaaa;
  padding: 0 15px 2px 13px;
  font-family: 'vcrosdmonorusbyd';
}
.bsod .title {
  margin-bottom: 50px;
}
.bsod .nav {
  margin-top: 35px;
  text-align: center;
  font-family: 'vcrosdmonorusbyd';
}
.bsod .nav .link {
  text-decoration: none;
  padding: 0 9px 2px 8px;
}
.bsod .nav .link:hover, .bsod .nav .link:focus {
  background: #aaaaaa;
  color: #0414a7;
}