flask[async]
aiohttp
SQLAlchemy
babel
mysqlclient
waitress
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-aiohttp-client
