{% extends 'html-partials/standart.html' %}
{% block content %}
    <main class="about">
        <article>
            <h1>Условия использования файлов cookie</h1>
            <p>
                На сайте <a class="tag-link" href="https://openworkshop.su/">openworkshop.su</a> и его поддоменах (далее — Сайт) используются файлы cookie.<br><br>

                Файлы  cookie — это небольшие текстовые файлы, которые после просмотра Пользователем фрагментов Сайта сохраняются на его устройстве.<br><br>
                
                Использование файлов cookie позволяет разработчикам сайта и(или) его законным представителям (далее – Оператор) контролировать доступность Сайта, анализировать данные, а также понимать, как развивать оказываемые услуги.<br><br>
                
                На Сайте используются следующие типы файлов cookie:<br>
                
                      1. Технические файлы cookie: они необходимы для корректной работы Сайта и вспомогательных сервисов. Такие файлы cookie позволяют определять аппаратное и программное обеспечение устройства Пользователя; выявлять ошибки при работе Сайта; тестировать новые функции для повышения производительности Сайта.<br>
                
                      2. Файлы cookie для аутентификации: они необходимы, чтобы запоминать Пользователей. Благодаря таким файлам Пользователю при новом посещении Сайта не нужно заново вводить авторизационные данные.<br>
                
                      3. Аналитические файлы cookie: они позволяют подсчитывать количество Пользователей Сайта; определять, какие действия Пользователь совершает на Сайте (посещаемые страницы, время и количество просмотренных страниц). Сбор аналитических данных осуществляется через партнеров, в том числе Google Analytics, Yandex Metrika.<br>
                
                      4. Рекламные файлы cookie: они помогают анализировать, из каких источников Пользователь перешел на Сайт, а также персонализировать рекламные сообщения.<br><br>
                
                Срок хранения файлов cookie зависит от конкретного типа, но в любом случае не превышает срока, необходимого для достижения <a class="tag-link" href="/legal/privacy-policy">целей обработки персональных данных</a>.<br><br>
                
                При посещении Сайта Оператор запрашивает согласие Пользователя на использование файлов cookie.<br><br>
                
                Для прекращения обработки файлов cookie Пользователь может изменить настройки используемых браузеров на всех устройствах (компьютер, мобильные устройства).<br><br>
                
                ВАЖНО: при отказе от использования файлов cookie отдельные функции Сайта могут быть недоступными, что повлияет на возможность использования Сайта.
            </p>
            <hr><h5>24.12.2023 - дата публикации / последнего изменения</h5>
        </article>
    </main>
{% endblock %}
{% block title %}
Open Workshop: Cookie Policy
{% endblock %}