{% extends 'html-partials/standart.html' %}
{% block content %}
    <div class="main-about">
        <article>
            <br><h4>English text below</h4>
            <br><h1>Правовая информация / Copyright policy</h1>
            <br><hr><h2>Чтобы сообщить жалобу, пожалуйста, ознакомьтесь со следующими правилами:</h2>
            <br>
            <br>Если Вы хотите заявить о нарушении авторских прав, пожалуйста, сообщите нам обоснованные аргументы. Обоснованные аргументы ДОЛЖНЫ иметь следующую информацию, иначе они могут быть проигнорированы:
            <br>
            <br>1: Пожалуйста, обоснуйте свое качество:
            <br>a: владелец или правообладатель работы или же
            <br>b: лицо, "уполномоченное действовать от имени эксклюзивного правообладателя, права которого якобы нарушены".
            <br>
            <br>2: Документальное подтверждение ваших прав на материал, защищённый авторским правом:
            <br>
            <br>- отсканированный документ с печатью, либо
            <br>- email с официального почтового домена компании правообладателя, либо
            <br>- иная контактная информация, позволяющая однозначно идентифицировать вас, как правообладателя данного материала.
            <br>
            <br>3: Укажите Вашу контактную информацию, включая Ваше НАСТОЯЩЕЕ ИМЯ, адрес, телефон и адрес электронной почты
            <br>
            <br>4: Укажите работу, защищенную авторскими правами, которые, по Вашему мнению, нарушаются, или, если большое число работ находятся на одном и том же сайте, укажите список работ.
            <br>
            <br>5: Опишите материал, который, по Вашему мнению, нарушает авторские права Вашей работы, и к которому, согласно Вашему обращению, отключить доступ из Интернета.
            <br>
            <br>6: Укажите местонахождение материала в Интернет, предоставив информацию, достаточную для того, чтобы наша служба поддержки могла найти этот материал.
            <br>
            <br>7: Задекларируйте что вы добросовестно убеждены в том, что использование материала, согласно претензий, не разрешено владельцем авторского права, его агентами или законом.
            <br>
            <br>8: Задекларируйте что информация, содержащаяся в жалобе, является точной, и Вы осознаете возможность наказания за лжесвидетельство.
            <br>
            <br>9: Текст который Вы желаете разместить в сопровождении удаляемой информации.
            <br>В нем вы можете указать где, и на каких условиях можно получить информацию, ссылки на которую были удалены, а так же ваши контактные данные, для того чтобы пользователи могли получить от вас всю интересующую их информацию относительно данного материала.
            <br>
            <br>Обратите внимание: для правильной подачи жалобы вышеуказанная информация ОБЯЗАТЕЛЬНА, или жалоба может быть ПРОИГНОРИРОВАНА.
            <br>
            <br>После этого, в течении 24 часов, мы рассмотрим Вашу жалобу.
            <br>Наш email: <a class="tag-link" translate="no">miskler@yandex.ru</a>
            <br><hr><h2>To report abuse read the following terms:</h2>
            <br>If you wish to report a copyright infringement, please give us sound arguments. Sound arguments MUST carry the following information (otherwise these will be ignored).
            <br>
            <br>1: Identify yourself as either:
            <br>a: The owner of a copyrighted work(s), or
            <br>b: A person “authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.”
            <br>
            <br>2: A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
            <br>
            <br>3: State your contact information, including your TRUE NAME, street address, telephone number, and email address.
            <br>
            <br>4: Identify the copyrighted work that you believe is being infringed, or if a large number of works are appearing at a single website, a representative list of the works.
            <br>
            <br>5: Identify the material that you claim is infringing your copyrighted work, to which you are requesting that disable access over the World Wide Web.
            <br>
            <br>6: Identify the location of the material on the World Wide Web by providing information reasonably sufficient to permit abuse stuff to locate the material.
            <br>
            <br>7: State that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agents, or the law.
            <br>
            <br>8: State that the information in the notice is accurate, under penalty of perjury.
            <br>
            <br>Please note: A proper notification MUST contain the information above, or it may be IGNORED.
            <br>
            <br>Please only write to us in English or Russian.
            <br>
            <br>Notice: Anonymous or incomplete messages will not be dealt with.
            <br>
            <br>After this during 24 hours we will consider your complaint.
            <br>Our email: <a class="tag-link" translate="no">miskler@yandex.ru</a>
            <hr><h5>24.12.2023 - дата публикации / последнего изменения</h5>
        </article>
    </div>
{% endblock %}
{% block title %}
Open Workshop: Copyright Abuse
{% endblock %}