{% extends 'html-partials/standart.html' %}
{% block content %}
    <main class="about">
        <article>
<h2>Для дальнейшего пользования данным ресурсом, Вы должны согласиться и следовать с нижеприведенными положениями:</h2>
<p><hr><h3>1. Регистрация</h3>
При регистрации вы подтверждаете, что даете согласие на обработку персональных данных (Согласие)
<br>
<br>Если данные профиля:
<br>нарушают нормы приличия и морали или содержат в себе религиозные термины
<br>несут в себе рекламу сайтов
<br>содержат ненормативную лексику
<br>то Ваша учётная запись будет деактивирована без предупреждения.
<br>
<br>Аватар должен соответствовать следующим пунктам:
<br>Форма: квадратная; вес: до 2 Мб.
<br>Содержание: недопустимы насилие, угрозы (на демографической, национальной, религиозной или политической основе), сквернословия (ненормативная лексика, обзывательства, грубость и т.д.), разврат (порнография), дискриминация в любых проявлениях, пропаганда наркотиков, коммерческая реклама и рекламные тексты, а также изображения провокационного толка, в т.ч. с использованием нацистской символики.
<br>Анимация: сильно мигающие аватары запрещены (степень мигания определяется администрацией).
<hr><h3>2. Ограничения на сайте</h3>
Всем участникам данного сайта запрещается:
<br>Оскорблять участников сайта в любой форме (Запрещено проявление любой грубости, угроз, личных оскорблений и нецензурных высказываний, в том числе и в скрытой форме, как в отношении юридических, так и конкретных физических лиц). Участники должны соблюдать уважительную форму общения.
<br>Пользоваться в общении матерными выражениями и словами, в том числе и в завуалированной форме.
<br>Писать рекламные тексты и сообщения коммерческого характера.
<br>Заниматься коммерцией при помощи ресурса.
<br>Накручивать рейтинг публикаций.
<br>Создавать несколько аккаунтов.
<br>Проявлять расовую, национальную, политическую и религиозную неприязнь, пропагандировать терроризм, экстремизм, наркотики и прочие темы, несовместимые с общепринятыми законами морали и приличия.
<br>Использовать в общении на сайте язык, отличный от русского, и шрифт, отличный от кириллического. Модераторы и Администраторы имеют право редактировать или удалять сообщения, написанные на языке, отличном от русского, и шрифтом, отличным от кириллического, без предупреждения.
<br>Публично предъявлять претензии и обсуждать действия Модератора или Администратора. Участник сайта, несогласный с действиями Модератора, может высказать своё несогласие Модератору по почте. Если от Модератора нет ответа или ответ, по мнению участника, необоснованный, последний вправе переписку с Модератором отправить Администратору. Конечное решение принимает Администратор. Это решение является окончательным и необсуждаемым.
<hr><h3>3. Правовая информация</h3>
Вы можете скачивать с сайта любое программное обеспечение только в целях ознакомления и в дальнейшем обязуетесь купить это программное обеспечение у его изготовителя (кроме случаев, когда программа распространяется изготовителем бесплатно).
<br>Ни при каких условиях и обстоятельствах ответственность за последствия, которые прямо или косвенно повлекло за собой использование информации или программного обеспечения, размещенного на этом сайте, не может возлагаться на авторов сайта или его посетителей и быть основанием для их судебного преследования. Если вы соглашаетесь с указанными условиями, вы можете приступить к просмотру материалов. Иначе рекомендуется немедленно покинуть сайт.
<br>Если Вы являетесь обладателем авторских прав на материалы, размещенные на этом сайте, и Вы против их публикации - для Вас информация здесь: <a class="steam-link" href="/legal/copyright">Соглашение по использованию / Copyright policy.</a>.</p>
<hr><h5>24.12.2023 - дата публикации / последнего изменения</h5>
        </article>
    </main>
{% endblock %}
{% block title %}
Open Workshop: Site Rules
{% endblock %}