.mod-add {
  padding: 10px;
  max-width: 300pt;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 6pt;
}

.mod-add__title {
  color: white;
  font-size: 25pt;
  margin: 0 0 5pt;
}

.mod-add__name {
  width: 100%;
  margin: 0;
}

.mod-add__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5pt;
}

@media screen and (min-width: 459px) {
  .mod-add {
    scale: 1.1;
    margin-top: 30pt;
  }
}

.desc-edit {
  margin: 0;
}

.main-body-game-selector {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 45pt;
  cursor: pointer;
  position: relative;
}

img.game-select-logo {
  height: 100%;
  padding: 5pt;
  border-radius: 10pt;
  cursor: pointer;
  aspect-ratio: 2 / 1.1;
  object-fit: cover;
}

.game-selector__body {
  height: 60%;
  width: 73%;
}

div.select-game-menu {
  height: 100%;
  width: 100%;
  border-radius: 5pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

div.select-game-menu p {
  font-size: large;
  text-align: left;
}

div.select-game-menu img {
  height: 60%;
  margin-right: 10pt;
  transition: all 0.2s;
}

div.main-body-game-selector:hover div.select-game-menu img {
  scale: 1.1;
}

div.main-body-game-selector:hover:not(.active) div.select-game-menu img {
  rotate: -10deg;
}

div.main-body-game-selector.active div.select-game-menu img {
  rotate: 180deg;
}

div.main-body-game-selector.active:hover div.select-game-menu img {
  rotate: 190deg;
}

div.popup-game-select {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: calc(100% + 5pt);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5pt;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  z-index: 999;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(128, 128, 128);
}

div.main-body-game-selector.active div.popup-game-select {
  max-height: 300pt;
}

div.popup-game-select > p {
  text-align: end;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 7pt;
}

div.popup-game-select > input {
  margin: 0;
  margin-bottom: 5pt;
  background: #2d2d2d;
  width: 100%;
  border-radius: 4pt;
  caret-color: white;
  color: white;
}

div.popup-game-select > div#all-games-search-results {
  opacity: 100%;
  transition: all 0.15s;
}

div.popup-game-select.reset > div#all-games-search-results {
  opacity: 0%;
}

div.in-popup-game-card {
  margin: 2pt;
  width: 98%;
  height: 30pt;
  position: relative;
  border-radius: 5pt;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
  filter: brightness(1);
}

div.in-popup-game-card:hover {
  filter: brightness(0.9);
}

div.in-popup-game-card:active {
  filter: brightness(0.8);
}

div.in-popup-game-card img {
  width: 30%;
}

div.in-popup-game-card p {
  width: 100%;
  font-size: 15pt;
  text-align: center;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1pt;
}

div.in-popup-game-card::before {
  content: '';
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5pt;
  background-image: var(--logo-game);
}

div.in-popup-game-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgb(33 33 33 / 63%);
  z-index: -1;
  border-radius: 5pt;
}
