
.user-mod > p {
    color: white;
    font-size: x-large;
}


main.user > article {
    text-align: center;
}


.user-avatar {
    border-radius: 5pt;
    aspect-ratio: 1 / 1;
}

.user-left-bar {
    margin-top: 2pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-mute-profile {
    display: inline-block;
    text-align: center;

    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--interactive-element-background);
}


@media (max-width: 439px) {
    .user-profile {
        display: block;
    }
}

@media (min-width: 440px) {
    .user-profile {
        display: flex;
        width: 100%;
    }
    .user-left-bar {
        margin-right: 5pt;
    }
    .user-avatar {
        max-width: 200px;
        min-width: 200px;
    }
}
