@charset "UTF-8";
/*********************************************************
    // abstracts
**********************************************************/
/*********************************************************
    // base
**********************************************************/
/*********************************************************
    // layout
**********************************************************/
/*********************************************************
    // components
**********************************************************/
/*********************************************************
    // pages
**********************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  background: #121230;
  background-size: 400% 400%;
}

div.cards {
  text-align: center;
  width: 100%;
}

div.card {
  background: rgba(0, 0, 0, 0.3764705882);
  margin: 8px;
  min-width: 300px;
  width: 300px;
  font-family: "Rubik";
  display: inline-block;
  max-width: 300px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  -webkit-transition: all 0.2s 0s ease-in;
  transition: all 0.2s 0s ease-in;
  z-index: 1;
  -webkit-animation: showing 0.2s forwards;
          animation: showing 0.2s forwards;
  border-radius: 4pt;
}

.show {
  -webkit-animation: showing 0.3s forwards;
          animation: showing 0.3s forwards;
}
.card:not(.show) .card-flap a {
  pointer-events: none;
  cursor: default;
}

@-webkit-keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hide {
  -webkit-animation: hidening 0.2s forwards;
          animation: hidening 0.2s forwards;
}

.hiden {
  opacity: 0;
}

@-webkit-keyframes hidening {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hidening {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div.card-click {
  cursor: pointer;
}

div.card .title-card-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-top-left-radius: 4pt;
  border-top-right-radius: 4pt;
}

div.card .card__image-holder {
  padding-bottom: 55%;
  position: relative;
}

div.card .card__image-holder-game {
  padding-bottom: 45%;
}

div.card div.card-title {
  padding: 4px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom-left-radius: 4pt;
  border-bottom-right-radius: 4pt;
}

div.card-title * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-params-list {
  height: 26px;
  width: 100%;
  position: absolute;
  margin-top: -27.5px;
  display: flex;
  margin-left: 1px;
}
.card-params-list-tag {
  margin-left: 1pt;
  backdrop-filter: blur(5px);
}

div.card div.card-title h2 {
  font-size: 24px;
  letter-spacing: -0.05em;
}

div.card div.card-description {
  position: relative;
  font-size: 14px;
  text-align: left;
  white-space: unset;
}

div.card div.card-flap {
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 5pt;
  margin-top: 3pt;
  border-radius: 4pt;
  position: absolute;
  width: 225pt;
  opacity: 0;
  margin-top: -157pt;
  pointer-events: none;
}
div.card div.card-flap button {
  pointer-events: none;
}

div.card div.card-flap-game {
  margin-top: -134pt;
}

div.card.show div.card-flap {
  background: rgba(26, 26, 26, 0.856);
}
div.card.show div.card-flap button {
  pointer-events: all;
}

div.card-flap div.flap-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  -webkit-transition: all 0.2s 0s ease-out;
  transition: all 0.2s 0s ease-out;
  width: 12px;
}

div.card div.card-title h2 {
  font-size: 24px;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  letter-spacing: -0.025em;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
  word-wrap: break-word;
}
div.card div.big-desc {
  max-height: 140pt;
  overflow: hidden;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 110pt, rgba(0, 0, 0, 0) 100%);
}

div.card div.card-actions {
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

div.cards.showing div.card {
  opacity: 0.98;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

div.card.show {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

div.card.show div.card-flap {
  opacity: 1 !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: all;
}

.button-flap {
  height: 30pt;
  margin-top: -6pt;
  pointer-events: all;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button-card {
  width: 50pt;
  background-color: rgb(68, 68, 68);
  border: none;
  border-radius: 1pt;
  border-top-right-radius: 20pt;
  border-bottom-right-radius: 20pt;
}

.button-card:hover {
  background-color: rgb(58, 58, 58);
}

.button-card:active {
  background-color: rgb(48, 48, 48);
}

.button-cancel {
  background-color: rgb(133 83 0);;
  border: none;
  border-radius: 3pt;
  margin-right: 3pt;
}
.button-cancel > img {
  padding: 2pt;
}

.button-cancel:hover {
  background-color: rgb(113 63 0);;
}

.button-cancel:active {
  background-color: rgb(93 43 0);;
}

.button-game {
  border: 1.4px solid transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#a5a5a5));
  background-image: -webkit-linear-gradient(left, #e2e2e2, #a5a5a5);
  background-image: linear-gradient(to right, #e2e2e2, #a5a5a5);
  -webkit-box-shadow: 0 0 0 100px rgb(61, 68, 95) inset;
          box-shadow: 0 0 0 100px rgb(61, 68, 95) inset;
  background-origin: border-box;
  border-radius: 5pt;
}
.button-game img {
  height: 100%;
  width: 100%;
}

.button-game:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#9c9c9c), to(#888888));
  background-image: -webkit-linear-gradient(left, #9c9c9c, #888888);
  background-image: linear-gradient(to right, #9c9c9c, #888888);
}

.button-game:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#797979), to(#4b4b4b));
  background-image: -webkit-linear-gradient(left, #797979, #4b4b4b);
  background-image: linear-gradient(to right, #797979, #4b4b4b);
}

.img-to-mod {
  width: 30pt;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #bdc3c7;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}

.a-top {
  text-decoration: none;
  color: #fff;
}

#header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.096)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.096));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.096));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#header:after {
  content: "";
  clear: both;
  display: block;
}

.search {
  float: right;
  padding: 30px;
}

input {
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.logo {
  float: left;
  padding: 26px 0 26px;
}

.logo a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
}

nav {
  float: right;
}

nav > ul {
  float: left;
  position: relative;
  margin-right: 5pt;
}

nav li {
  list-style: none;
  float: left;
}

nav .dropdown {
  position: relative;
}
.dropdown:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
}


.dropdown a {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.dropdown a:hover {
  background-color: #000;
}

nav li a {
  float: left;
  padding: 35px;
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

nav li ul {
  display: none;
}

nav li:hover ul {
  display: inline;
}

nav li li {
  float: none;
}

nav .dropdown ul {
  position: absolute;
  right: 2pt;
  top: 100%;
  background: #282733de;
  padding-top: 3pt;
  border-bottom: 3px solid #34495e;
  border-radius: 3pt;
}

nav .dropdown li {
  white-space: nowrap;
}

nav .dropdown li a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 100px;
}

nav .mega-dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  overflow: hidden;
  padding: 20px 35px;
  border-bottom: 3px solid #34495e;
}

nav li li a {
  float: none;
  color: rgba(51, 51, 51, 0.4509803922);
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}

nav li li a:hover {
  background: #bdc3c7;
  background: #FAFBFB;
}

.mega-col {
  width: 25%;
  float: left;
}

#menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}

#menu-icon span {
  border: 2px solid #fff;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.2s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.right-bar-mod {
  margin-top: 2pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1170px) {
  nav > ul > li > a {
    padding: 35px 15px;
  }
}

.img-desc {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 10;
}

.box {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.panel {
  pointer-events: none;
  position: fixed;
  margin: 10pt;
  width: 260pt;
  max-width: 92%;
  z-index: 10;
}

.main {
  padding-top: 80pt;
  min-height: 93vh;
}

#container {
  position: relative;
  -webkit-transition: margin-left 0.4s, background-color 0.4s, opacity 0.1s;
  transition: margin-left 0.4s, background-color 0.4s, opacity 0.1s;
  display: grid;
  border-radius: 5pt;
  padding: 5pt;
  background: rgba(27, 27, 27, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: auto;
  max-width: 260pt;
  pointer-events: all;
  opacity: 99%;
  margin-bottom: 5pt;
}

#container.moved {
  margin-left: -350px;
  background: black;
  opacity: 50%;
}

#panel-button {
  background: rgba(100, 100, 100, 0.644);
  position: relative;
  border: 0;
  border-radius: 17pt;
  padding: 2pt;
  opacity: 80%;
  pointer-events: all;
  cursor: pointer;
}

.button-img {
  width: 40pt;
}

.space-h {
  height: 4pt;
}

::-webkit-slider-thumb {
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #555555;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8f8f8f;
}

.result-search {
  border-radius: 3pt;
  display: inline;
  background-color: rgba(229, 255, 0, 0.4);
}

.steam-link, .tag-link, .tag-link-green, .tag-link-blue, .tag-link-red, .tag-link-orange {
  background-color: rgb(61, 61, 61, 0.5);
  border-radius: 4pt;
  padding: 1pt;
  padding-left: 3pt;
  padding-right: 3pt;
  color: rgb(230, 238, 255);
  font-style: normal;
  text-decoration: inherit;
  transition : background-color 0.1s;
  height: 100%;
  display: inline-flex;
}

.tag-link-green {
  background-color: green;
}
.tag-link-green:hover {
  background-color: rgb(0, 104, 0);
}
.tag-link-green:active {
  background-color: rgb(0, 87, 0);
}

.tag-link-blue {
  background-color: blue;
}

.tag-link-red {
  background-color: red;
}

.tag-link-orange {
  background-color: rgb(194, 126, 0);
}

.independence-mods-selector {
  margin: 0;
  margin-top: 3pt;
  padding: 4pt;
  border-radius: 3pt;
  background-color: #212121d4;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: all 0.2s;
  box-shadow:0px 0px 1px 1px rgb(161, 161, 161);
}
.independence-mods-selector:hover {
  box-shadow:0px 0px 3px 3px rgb(158, 158, 158);
}
.independence-mods-selector > label {
  font-size: 15pt;
}

.input-checkbox {
  transform: scale(1.7);
  margin: 5pt;
  transition: all;
  pointer-events: none;
}


.game-selector-in-menu {
  margin: 0;
  margin-top: 3pt;
  padding: 4pt;
  border-radius: 3pt;
  background-color: #212121d4;
}
.game-selector-in-menu #currectGames {
  background-color: rgba(85, 85, 85, 0.4392156863);
  border-radius: 3pt;
  padding: 2pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-selector-in-menu #currectGames #currectGamesReset {
  border-radius: 5pt;
  border: 1.4px solid transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#a8a8a8), to(#818181));
  background-image: -webkit-linear-gradient(left, #a8a8a8, #818181);
  background-image: linear-gradient(to right, #a8a8a8, #818181);
  -webkit-box-shadow: 0 0 0 100px rgb(32, 34, 61) inset;
          box-shadow: 0 0 0 100px rgb(32, 34, 61) inset;
  background-origin: border-box;
  padding: 0pt;
  margin-right: 3pt;
  cursor: pointer;
}
.game-selector-in-menu #currectGames #currectGamesReset:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#919191), to(#6d6d6d));
  background-image: -webkit-linear-gradient(left, #919191, #6d6d6d);
  background-image: linear-gradient(to right, #919191, #6d6d6d);
}
.game-selector-in-menu #currectGames #currectGamesReset:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#757575), to(#575757));
  background-image: -webkit-linear-gradient(left, #757575, #575757);
  background-image: linear-gradient(to right, #757575, #575757);
}
.game-selector-in-menu #currectGames #currectGamesReset img {
  margin: -4pt;
  height: 30pt;
}

:root {
  --displacement: -0.1rem;
  --tremble: -10deg;
  --trembleF: 5deg;
  --iPos: 50%;
  --bPos: -75%;
  --fPos: -50%;
  --time: 330ms;
}

.switch {
  cursor: pointer;
  pointer-events: all;
  margin: auto;
}
.switch__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 2rem;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 99rem;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation: checked__wrapper var(--time) ease-in forwards;
          animation: checked__wrapper var(--time) ease-in forwards;
  mix-blend-mode: lighten;
}
.switch__wrapper::before, .switch__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: inherit;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-animation: inherit;
          animation: inherit;
  mix-blend-mode: inherit;
}
.switch__wrapper::before {
  --tremble: -12deg;
  --trembleF: -7deg;
  border-color: rgb(0, 255, 0);
  -webkit-animation-delay: 30ms;
          animation-delay: 30ms;
}
.switch__wrapper::after {
  --tremble: -8deg;
  --trembleF: -4deg;
  border-color: rgb(0, 0, 255);
  -webkit-animation-delay: 55ms;
          animation-delay: 55ms;
}
.switch__toggle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 99rem;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-animation: checked__toggle var(--time) ease-in forwards;
          animation: checked__toggle var(--time) ease-in forwards;
}
input:active + .switch__wrapper .switch__toggle {
  width: 1.6rem;
}
input:checked + .switch__wrapper {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation-name: checked__wrapper--r;
          animation-name: checked__wrapper--r;
}
input:checked + .switch__wrapper .switch__toggle {
  background: #fff;
  -webkit-animation-name: checked__toggle--r;
          animation-name: checked__toggle--r;
}

@-webkit-keyframes checked__wrapper {
  0%, 45%, 100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  48% {
    -webkit-transform: translateX(var(--displacement));
            transform: translateX(var(--displacement));
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  55% {
    -webkit-transform: rotateZ(var(--tremble));
            transform: rotateZ(var(--tremble));
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  65% {
    -webkit-transform: rotateZ(var(--trembleF));
            transform: rotateZ(var(--trembleF));
  }
}

@keyframes checked__wrapper {
  0%, 45%, 100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  48% {
    -webkit-transform: translateX(var(--displacement));
            transform: translateX(var(--displacement));
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  55% {
    -webkit-transform: rotateZ(var(--tremble));
            transform: rotateZ(var(--tremble));
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  65% {
    -webkit-transform: rotateZ(var(--trembleF));
            transform: rotateZ(var(--trembleF));
  }
}
@-webkit-keyframes checked__wrapper--r {
  0%, 45%, 100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  48% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--displacement)));
            transform: translateX(calc(-1 * var(--displacement)));
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  55% {
    -webkit-transform: rotateZ(-webkit-calc(-1 * var(--tremble)));
            transform: rotateZ(calc(-1 * var(--tremble)));
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  65% {
    -webkit-transform: rotateZ(-webkit-calc(-1 * var(--trembleF)));
            transform: rotateZ(calc(-1 * var(--trembleF)));
  }
}
@keyframes checked__wrapper--r {
  0%, 45%, 100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  48% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--displacement)));
            transform: translateX(calc(-1 * var(--displacement)));
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  55% {
    -webkit-transform: rotateZ(-webkit-calc(-1 * var(--tremble)));
            transform: rotateZ(calc(-1 * var(--tremble)));
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  65% {
    -webkit-transform: rotateZ(-webkit-calc(-1 * var(--trembleF)));
            transform: rotateZ(calc(-1 * var(--trembleF)));
  }
}
@-webkit-keyframes checked__toggle {
  0% {
    background: #fff;
    -webkit-transform: translateX(var(--iPos)) scale(1.45, 1.2);
            transform: translateX(var(--iPos)) scale(1.45, 1.2);
  }
  45% {
    background: #fff;
    -webkit-transform: translateX(var(--bPos)) scale(1.2, 1.2);
            transform: translateX(var(--bPos)) scale(1.2, 1.2);
  }
  50% {
    background: transparent;
    -webkit-transform: translateX(var(--bPos)) scale(0.7, 1.3);
            transform: translateX(var(--bPos)) scale(0.7, 1.3);
  }
  65% {
    -webkit-transform: translateX(var(--bPos)) scale(1.2, 1.2);
            transform: translateX(var(--bPos)) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: translateX(var(--fPos));
            transform: translateX(var(--fPos));
  }
}
@keyframes checked__toggle {
  0% {
    background: #fff;
    -webkit-transform: translateX(var(--iPos)) scale(1.45, 1.2);
            transform: translateX(var(--iPos)) scale(1.45, 1.2);
  }
  45% {
    background: #fff;
    -webkit-transform: translateX(var(--bPos)) scale(1.2, 1.2);
            transform: translateX(var(--bPos)) scale(1.2, 1.2);
  }
  50% {
    background: transparent;
    -webkit-transform: translateX(var(--bPos)) scale(0.7, 1.3);
            transform: translateX(var(--bPos)) scale(0.7, 1.3);
  }
  65% {
    -webkit-transform: translateX(var(--bPos)) scale(1.2, 1.2);
            transform: translateX(var(--bPos)) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: translateX(var(--fPos));
            transform: translateX(var(--fPos));
  }
}
@-webkit-keyframes checked__toggle--r {
  0% {
    background: transparent;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--iPos))) scale(1.45, 1.2);
            transform: translateX(calc(-1 * var(--iPos))) scale(1.45, 1.2);
  }
  45% {
    background: transparent;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.2, 1.2);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.2, 1.2);
  }
  50% {
    background: #fff;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.7, 1.4);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.7, 1.4);
  }
  65% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.2, 1.2);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--fPos)));
            transform: translateX(calc(-1 * var(--fPos)));
  }
}
@keyframes checked__toggle--r {
  0% {
    background: transparent;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--iPos))) scale(1.45, 1.2);
            transform: translateX(calc(-1 * var(--iPos))) scale(1.45, 1.2);
  }
  45% {
    background: transparent;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.2, 1.2);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.2, 1.2);
  }
  50% {
    background: #fff;
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.7, 1.4);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.7, 1.4);
  }
  65% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--bPos))) scale(1.2, 1.2);
            transform: translateX(calc(-1 * var(--bPos))) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: translateX(-webkit-calc(-1 * var(--fPos)));
            transform: translateX(calc(-1 * var(--fPos)));
  }
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer div.social-media-links {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(20, 27, 29, 0.801)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(20, 27, 29, 0.801), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(20, 27, 29, 0.801), rgba(0, 0, 0, 0));
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center;
}

footer div.social-media-links ul {
  margin: 0;
  padding: 0;
}

footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
}

footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
          box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  width: 30px;
}

footer div.social-media-links a svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}

footer div.social-media-links a svg.glow path,
footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}

footer div.social-media-links a svg path,
footer div.social-media-links a svg circle {
  fill: #0096a1;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

footer div.social-media-links a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px rgba(14, 186, 199, 0.25), 0 83px 4px 0px rgba(14, 186, 199, 0.95);
          box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px rgba(14, 186, 199, 0.25), 0 83px 4px 0px rgba(14, 186, 199, 0.95);
}

footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

footer div.social-media-links a:hover svg.glow path,
footer div.social-media-links a:hover svg.glow circle {
  fill: rgba(14, 186, 199, 0.6);
}

footer div.social-media-links a:hover svg path,
footer div.social-media-links a:hover svg circle {
  fill: #0ebac7;
}

.pager-selector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  cursor: default;
  font-size: 15pt;
}

.pager-space {
  color: #979797;
}

.pager-page {
  color: #b6bcd6;
  cursor: pointer;
}

.pager-currect {
  font-size: 16pt;
}

.slider {
  border-radius: 10pt;
  min-width: 100%;
  width: 100%;
  padding-bottom: 10pt;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.one_slider {
  padding-bottom: 0;
}
.one_slider > .slider__images > a > .slider__images-image {
  border-radius: 10pt;
  min-height: 100%;
}




.slider__images {
  opacity: 0;
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
  z-index: 10;
  opacity: 1;
  min-height: 10px;
  max-height: 450px;
  height: auto;
}
.slider__images:only-child > .slider__images-item {
  border-radius: 10pt;
  aspect-ratio: auto;
}
.slider__images:only-child > .slider__images-item > .slider__images-image {
  min-width: 100%;
  min-height: 100%;
}

.slider__images-item {
  aspect-ratio: 10 / 7;
  border-top-right-radius: 10pt;
  border-top-left-radius: 10pt;
  overflow: hidden;
  min-width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: inline;
  justify-self: center;
  background: black;
  top: 0px;
  left: 0px;
}
.no-js .slider__images-item:first-of-type {
  position: relative;
}
.no-js .slider__images-item:not(:first-of-type) {
  display: none !important;
}
.slider__images-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
  opacity: 1;
}

.slider__controls {
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.slider__control {
  display: inline-block;
  color: #829995;
  cursor: pointer;
}

.slider__pagers {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider__pagers li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  color: #829995;
  padding: 0 10px;
}
.slider__pagers li.active {
  color: #c2c2c2;
}

.centered {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 70vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Hack", monospace;
}

.not__found__page__error,
.not__found__page__link {
  text-align: center;
}

.not__found__page__error {
  margin-top: -35px;
  line-height: 30px;
  font-size: 2rem;
  max-width: 600pt;
}

.not__found__page__link {
  color: rgb(228, 228, 228);
  margin-top: 10px;
  line-height: 20px;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}
.not__found__page__link:hover {
  text-decoration: underline;
}

html {
  font-style: normal;
}

.main-about {
  position: relative;
  z-index: 1;
  border-radius: 10pt;
  margin: 10pt;
  padding: 10pt;
  text-align: left;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  background: rgba(0, 0, 0, 0.3);
  margin: 4pt;
  border-radius: 10pt;
  padding: 10pt;
}
br {
  display: block;
  height: 5px;
  line-height: 22px;
  content: " ";
}
#mod-description {
  margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(200, 200, 200);
}

h1 {
  font-size: 20pt;
  color: rgb(203, 203, 203);
}

h2 {
  font-size: 17pt;
  color: rgb(213, 213, 213);
}

h3 {
  font-size: 15pt;
  color: rgb(223, 223, 223);
}

h4 {
  font-size: 13pt;
  color: rgb(233, 233, 233);
}

h5 {
  font-size: 11pt;
}

h6 {
  font-size: 9pt;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

blockquote {
  display: flex;
}
blockquote > .content {
  display: inline-table;
  background: linear-gradient(90deg, rgb(0, 0, 0, 0.8) 80%, rgb(0, 0, 0, 0.0) 100%);
  border-top-right-radius: 10pt;
  border-bottom-right-radius: 10pt;
  padding: 5pt;
}
blockquote > .light {
  min-height: 100%;
  width: 10px;
  border-top-left-radius: 5pt;
  border-bottom-left-radius: 5pt;
  background-color: rgb(0, 80, 0);
}


.ad-button-b {
  -webkit-animation: 1.5s ease infinite alternate running shimmer;
          animation: 1.5s ease infinite alternate running shimmer;
  background: -webkit-gradient(linear, left top, right top, from(#FFE27D), color-stop(30%, #64E3FF), color-stop(85%, #9192FF));
  background: -webkit-linear-gradient(left, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
  background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
  background-size: 200% 100%;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
          box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
  color: #170F1E;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 670;
  line-height: 24px;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.ad-button-b svg {
  left: -20px;
  opacity: 0.5;
  position: absolute;
  top: -2px;
  -webkit-transition: 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
.ad-button-b:hover svg {
  opacity: 0.8;
  -webkit-transform: translateX(50px) scale(1.5);
          transform: translateX(50px) scale(1.5);
}
.ad-button-b:hover {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.ad-button-b:active {
  -webkit-transform: scale(0.95) rotate(-3deg);
          transform: scale(0.95) rotate(-3deg);
}

@-webkit-keyframes shimmer {
  to {
    background-size: 100% 100%;
    -webkit-box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
            box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
  }
}

@keyframes shimmer {
  to {
    background-size: 100% 100%;
    -webkit-box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
            box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
  }
}
.mod-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000pt;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10pt;
  padding: 5pt;
  margin: 1;
}

.mod-container > .mod-big-cont {
  width: 100%;
}

.download-button {
  display: flex;
  border-radius: 10pt;
  margin: 3pt;
  font-size: 15pt;
  font-variant: normal;
  text-align: center;
  max-width: 100pt;
  padding: 10pt;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(248, 236, 215);
  background-color: #0000005e;
  transition: all 50ms linear;
}
.download-button:hover {
  background-color: #00000088;
  color: rgb(250, 244, 234);
}
.download-button:active {
  background-color: #000000c5;
  color: white;
}

.progressbarWrapper {
  height: 30px;
  display: block;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 5pt;
}

#greenBar {
  display: block;
  height: calc(100% - 6pt);
  max-width: calc(100% - 6pt);
  width: 0px;
  background-color: rgb(43, 194, 83);
  height: calc(100% - 6pt);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: absolute;
  overflow: hidden;
  text-align: center;
  color: white;
  transition: all 500ms ease;
  border-radius: 5pt;
}
#greenBarText {
  position: absolute;
  width: calc(100% - 6pt);
  text-align: center;
}

@media (min-width: 700px) {
  .mod-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mod-container > .mod-big-cont {
    max-width: 70%;
  }
  .right-bar-mod {
    min-width: 30%;
    max-width: 30%;
  }
}
@media (max-width: 699px) {
  .mod-container {
    display: block;
  }
  .mod-container > .mod-big-cont {
    max-width: 100%;
  }
  .right-bar-mod {
    min-width: 100%;
    max-width: 100%;
  }
}
.mod-dependence-list {
  background: rgba(2, 0, 12, 0.199);
  margin-top: 4pt;
  border-radius: 10pt;
  padding: 5pt;
  width: 100%;
}
.mod-dependence-list > h2 {
  width: 100%;
  text-align: center;
}

.mod-dependence {
  background-color: rgba(26, 26, 26, 0.452);
  margin-top: 5pt;
  cursor: pointer;
  border-radius: 5pt;
  padding: 5pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
  transition: background-color 0.1s;
}
.mod-dependence:hover {
  background-color: rgba(22, 22, 22, 0.452);
}

.mod-dependence img {
  border-radius: 5pt;
  margin-right: 5pt;
  width: 50pt;
  height: 30pt;
}
.mod-dependence h3 {
  vertical-align: middle;
}
.mod-dependence div {
  height: 10%;
  vertical-align: middle;
}

select {
  margin-top: 3pt;
  height: 25pt;
  border-radius: 5pt;
  font-size: 12pt;
  color: white;
  background-color: #414141;
  cursor: pointer;
}

.text-field__input {
  display: block;
  width: 100%;
  height: -webkit-calc(2.25rem + 2px);
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #414141;
  background-clip: padding-box;
  border: 1px solid #919191;
  border-radius: 5pt;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-field__input[type=search]::-webkit-search-decoration,
.text-field__input[type=search]::-webkit-search-cancel-button,
.text-field__input[type=search]::-webkit-search-results-button,
.text-field__input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.text-field__input::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 0.4;
}

.text-field__input::-moz-placeholder {
  color: #ebebeb;
  opacity: 0.4;
}

.text-field__input:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 0.4;
}

.text-field__input::-ms-input-placeholder {
  color: #ebebeb;
  opacity: 0.4;
}

.text-field__input::placeholder {
  color: #ebebeb;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #ebebeb;
  background-color: #363636;
  border-color: #919191;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #313131;
  opacity: 1;
}

/* active icon - 1 вариант */
.text-field__icon {
  position: relative;
}

.text-field__icon .text-field__input {
  padding-right: 2.5rem;
}

/* active icon - 2 вариант */
.text-field__aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  border: 1px solid #919191;
  background-color: #5b5b5b;
  cursor: pointer;
  color: #212529;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
}

.text-field__aicon:hover, .sort-selector > button:hover {
  background-color: #474747;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: flex;
  justify-content: center;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  position: absolute;
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}
/*# sourceMappingURL=style.css.map */


@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");

.hero__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__wrapper > * {
  margin: 15px;
}

.hero__header {
  flex: 0 1 1px;
  padding-right: 50px;
  color: black;
  font-size: 8vmax;
}

.hero__phone {
  width: 100%;
  height: 600px;
  background: black;
  background-color: #ffffff;
  background: #fff url("https://codepenworldsfair.com/images/small-worlds-fair.png") center/250px no-repeat;
  border: 12px solid black;
  border-radius: 36px;
  position: relative;
  overflow: hidden;
}

.menu__button {
  --x: -50%;
  --y: 0;
  --z: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #014769, #00013f);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 40px -10px #0089ff;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  bottom: 30px;
  left: 50%;
  transform: translate3d(var(--x), var(--y), var(--z));
  cursor: pointer;
  z-index: 105;
  transition: 0.15s cubic-bezier(0.33, 1, 0.53, 1);
}
.menu__button[hidden] {
  --y: 200%;
}
.menu__button div {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-right: 20px;
}

.menu__body {
  --x: 0;
  --y: 0;
  --z: 0;
  position: fixed;
  display: block;
  width: 100%;
  background: rgb(0 0 0 / 24%);
  backdrop-filter: blur(6px);
  padding-bottom: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -9px 50px -30px black;
  font-family: "Montserrat", sans-serif;
  bottom: 0;
  z-index: 105;
  transform: translate3d(var(--x), var(--y), var(--z));
  transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
}
.menu__body[hidden] {
  --y: 150%;
}
.menu__body > *:not(:last-child) {
  border-bottom: 2px solid #00000036;
}

.menu__header {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  align-items: center;
}
.menu__header label div {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  transform: rotate(5.5rad);
}
.menu__header label {
  content: "";
  width: 2px;
  height: 10px;
  background: black;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.menu__header p {
  font-size: 18px;
  font-weight: bold;
  vertical-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu__header h3 {
  font-weight: normal;
}
.menu__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}
.menu__header button div {
  width: 15px;
  height: 3px;
  background: black;
  position: relative;
  transform: rotate(5.5rad);
}
.menu__header button {
  content: "";
  width: 3px;
  height: 15px;
  background: rgb(153, 133, 96);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__links {
  display: flex;
  padding: 10px 15px;
  font-weight: bold;
  overflow-x: auto;
}
.menu__links a {
  flex: 1 1 1px;
  padding: 1px 8px;
  color: var(--dark);
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.menu__contact {
  display: flex;
  padding: 8px;
}
.menu__contact svg {
  width: 100%;
  fill: #0096a1;
}
.menu__contact a {
  flex: 1 1 30%;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background: #00000070;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.full__phone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  transition: all 0.2s;
}

.full__phone__active {
  background-color: #0000006e;
  pointer-events: all;
}

.sort-selector {
  width: 100%;
  display: flex;
  margin-top: 3pt;
}

.sort-selector > button {
  width: 10%;
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
  height: 100%;
  padding: 0pt;
  border: none;
  border: 1px solid #919191;
  background-color: #5b5b5b;
  border-left-width: 0;
  transition: all 0.15s;
  cursor: pointer;
  margin: 0;
  transform: scale(1);
}

.sort-selector > button > img {
  width: 100%;
  height: 100%;
}

#sort-selector {
  border-radius: 0pt;
  border-bottom-left-radius: 5pt;
  border-top-left-radius: 5pt;
  width: 90%;
  height: 100%;
  margin: 0;
}

table {
  background-color: #0000004b;
}

td {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}


.cookie-bar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background: linear-gradient(rgb(20, 0, 133), rgba(18, 0, 119, 0.726), rgba(31, 0, 141, 0));
  color: white;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  transform: translateY(-50px);
  transition: all 0.2s;
}
.cookie-bar-show {
  transform: translateY(0px);
}

.cookie-bar .message {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .cookie-bar .message {
    display: none;
  }
}
.cookie-bar .mobile {
  display: none;
}
@media (max-width: 767px) {
  .cookie-bar .mobile {
    display: inline-block;
  }
}
.close-cb {
  border: none;
  color: white;
  background: rgb(12, 0, 124);
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 0;
  cursor: pointer;
  box-shadow: inset 0 0 3px 0 rgba(151, 0, 0, 0.26);
  line-height: 30px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  font-weight: bold;
  border-bottom-left-radius: 2pt;
  border-bottom-right-radius: 2pt;
  transition: all 0.1s;
}
.close-cb:hover {
  background: rgb(2, 0, 141);
}
.checkbox-cb {
  display: none;
}
.checkbox-cb:checked + .cookie-bar {
  transform: translateY(-50px);
}


.user-avatar {
  border-radius: 5pt;
}

.user-left-bar {
  margin-top: 2pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container .user-container-settings {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10pt;
  padding: 5pt;
  margin: 1;
}

.user-mute-profile {
  text-align: center;
  background-color: #470000;
  border-radius: 5pt;
  display: inline-block
}
.user-mute-profile > br {
  height: 0px;
}


.user-avatar-box {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.user-edit-icon {
  width: 0pt;
  position: absolute;
  padding-left: 10pt;
  pointer-events: none;
}
.user-avatar-box > img {
  transition: all 0.2s;
}
.user-avatar-box:hover > .user-avatar-e {
  opacity: 10%;
  cursor: pointer;
}
.user-avatar-box:hover > .user-edit-icon-e {
  width: 50pt;
}

@media (min-width: 680px) {
  .user-container-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 679px) {
  .user-container-settings {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}


.user-avatar-mini {
  border-radius: 100%;
  width: 30px;
}

.user-avatar-medium {
  border-radius: 100%;
  width: 40pt;
  height: 40pt;
  display: flex;
  padding: 5pt;
}



.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  height: 94px;
}


.edit-about-settings {
  min-width: 100%;
  resize: none;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 4pt;
  border-radius: 10pt;
  padding: 10pt;
  color: white;

  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;

  transition: box-shadow 0.2s;
  box-shadow:0px 0px 0px 0px rgb(165, 165, 165);
}
.edit-about-settings:hover {
  box-shadow:0px 0px 2px 2px rgb(165, 165, 165);
}
.edit-about-settings:focus {
  box-shadow:0px 0px 4px 4px rgb(165, 165, 165);
}

.edit-username {
  border: 1pt solid;
  border-radius: 5px;
  font-size: 20pt;
  width: 100pt;
  background: #00000000;
  color: rgb(203, 203, 203);
  padding: 3pt;
  min-width: 40pt;
  transition: box-shadow 0.2s;
  box-shadow:0px 0px 0px 0px rgb(165, 165, 165);
}
.edit-username:hover {
  box-shadow:0px 0px 2px 2px rgb(165, 165, 165);
}
.edit-username:focus {
  box-shadow:0px 0px 4px 4px rgb(165, 165, 165);
}

.grade-edit {
  padding: 3pt;
  margin: 2pt;
  font-size: 20pt;
  transition: box-shadow 0.2s;
  box-shadow:0px 0px 0px 0px rgb(211, 0, 0);
}
.grade-edit:hover {
  box-shadow:0px 0px 2px 2px rgb(211, 0, 0);
}
.grade-edit:focus {
  box-shadow:0px 0px 4px 4px rgb(190, 0, 0);
}

.limit {
  background: #700000;
}

.navig-user-setting-menu {
  background: #191919ed;
  height: 100%;
  margin: 3pt;
  padding: 3pt;
  border-radius: 4pt;
  display: flex;
  flex-direction: column;
}
.navig-user-setting-menu > button {
  border-radius: 5pt;
  border: none;
  font-size: 15pt;
  background: chocolate;
  color: white;
  font-family: cursive;
  padding-bottom: 2pt;
  padding-left: 3pt;
  padding-right: 3pt;
  font-variant: all-small-caps;
  margin-top: 2pt;
  cursor: pointer;
  transition: all 0.2s;
  
  box-shadow:0px 0px 0px 0px chocolate;
} 
.navig-user-setting-menu > h2 {
  color: white;
} 
.navig-user-setting-menu > button:disabled {
  background: #4d260b;
  box-shadow:0px 0px 0px 0px rgb(184, 92, 26);
  pointer-events: none;
  cursor: none;
} 
.navig-user-setting-menu > button:hover {
  background: #b65b1a;
  box-shadow:0px 0px 1px 1px rgb(184, 92, 26);
} 
.navig-user-setting-menu > button:active {
  background: #a15117;
  box-shadow:0px 0px 2px 2px rgb(167, 83, 23);
}



.user-settings-cont {
  display: flex;
  width: 100%;
  max-width: 500pt;
}
@media (max-width: 439px) {
  .user-settings-cont {
    flex-direction: column;
    align-items: center;
  }
  .user-container {
    display: block;
  }
  .user-avatar {
    min-width: 100%;
  }
  .user-mute-profile {
    margin-bottom: 3pt;
    font-size: 17pt;
  }
  .edit-about-settings {
    font-size: 15pt;
  }
  input.date{
    font-size: 100%;
  }
}
@media (min-width: 440px) {
  .user-settings-cont {
    flex-direction: row;
  }
  .user-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .user-left-bar {
    margin-right: 5pt;
  }
  .user-avatar {
    max-width: 250px;
    min-width: 150px;
  }
}


@media only screen and (min-width: 601px) {
  nav {
    display: block !important;
  }
  .menu__button {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (max-width: 600px) {
  .main-about {
    margin: 0;
    padding: 1pt;
  }
  #pc-links-footer {
    display: none;
  }
  footer {
    margin-top: 35pt;
  }
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    overflow-y: scroll;
  }
  #menu-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
  }
  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }
  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }
  #menu-icon.active .third {
    display: none;
  }
  .search {
    float: none;
  }
  .search input {
    width: 100%;
  }
  nav {
    padding: 10px;
  }
  nav ul {
    float: none;
  }
  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    padding: 8px;
    display: block;
  }
  #header nav ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  #header nav a {
    color: #fff;
    padding: 8px;
  }
  #header nav a:hover {
    background: #fff;
    color: rgba(51, 51, 51, 0.3647058824);
    border-radius: 3px;
  }
  #header nav ul li li a:before {
    content: "- ";
  }
  .mega-col {
    width: 100%;
  }
}

.user-setting-gear {
  width: 30pt; 
  height: 30pt; 
  border-radius: 100%;
}
.user-setting-gear > img {
  width: 30pt;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 100%;
}
.user-setting-gear:hover > img {
  rotate: 180deg;
}

/* Анимация ребенка при наведении на элемент */
.anime-scale * {
  transition: all 0.1s;
}
.anime-scale:hover * {
  scale: 1.05;
}
.anime-scale:active * {
  scale: 0.95;
}

button {
  cursor: pointer;
}


.none-display {
  display: none !important;
}

button.bottom-left-rounded {
  background: rgb(43, 44, 51);
  border: none;
  color: white;
  height: 21pt;
  width: auto;
  border-top-right-radius: 5pt;
  border-bottom-left-radius: 5pt;
  font-size: medium;
  margin-left: -3pt;
  padding-left: 5pt;
  padding-right: 5pt;
}
button.bottom-left-rounded:hover {
  background: rgb(41, 42, 49);
}
button.bottom-left-rounded:active {
  background: rgb(39, 40, 47);
}



.popup-nonvisible {
  max-height: 0;
}

.popup-menu-select {
  background: rgba(0, 0, 0, 0.9);
  position: sticky;
  margin-top: 3pt;
  border-radius: 5pt;
  overflow: hidden;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  z-index: 999;
  display: flex;
  align-items: center;
}
.popup-menu-select:not(.popup-nonvisible) {
  max-height: 500pt;
}

div.popup-menu-select > input {
  border-radius: 0; 
  background: #2D2D2D; 
  width: 100%; 
  border-radius: 4pt;
  caret-color: white;
  color: white;
}
div.popup-menu-select > input:focus {
  outline: none;
}
div.popup-menu-select > p.show-more {
  align-self: flex-end;
  margin-right: 5pt;
  transition: all 0.15s;
}

div.alls {
  width: 100%;
  min-height: 85px;
}
div.alls p {
  display: none;
  justify-content: center;
  width: 100%;
}
div.alls:not(:has(div:not(.none-display))) p {
  display: flex;
}
div.alls:not(:has(div:not(.none-display))) {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
