@charset "UTF-8";

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hiden {
  opacity: 0;
}

@-webkit-keyframes hidening {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hidening {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.img-to-mod {
  width: 30pt;
}


#header:after {
  content: "";
  clear: both;
  display: block;
}


#menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}

#menu-icon span {
  border: 2px solid #fff;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.2s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.right-bar-mod {
  margin-top: 2pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-desc {
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 10;
}

::-webkit-slider-thumb {
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #555555;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8f8f8f;
}

.result-search {
  border-radius: 3pt;
  display: inline;
  background-color: rgba(229, 255, 0, 0.4);
}

.input-checkbox {
  transform: scale(1.7);
  margin: 5pt;
  transition: all;
  pointer-events: none;
}

#mod-description {
  margin-left: 0px;
}

blockquote {
  display: flex;
}
blockquote > .content {
  display: inline-table;
  background: linear-gradient(90deg, rgb(0, 0, 0, 0.8) 80%, rgb(0, 0, 0, 0.0) 100%);
  border-top-right-radius: 10pt;
  border-bottom-right-radius: 10pt;
  padding: 5pt;
}
blockquote > .light {
  min-height: 100%;
  width: 10px;
  border-top-left-radius: 5pt;
  border-bottom-left-radius: 5pt;
  background-color: rgb(0, 80, 0);
}

.download-button {
  display: flex;
  border-radius: 10pt;
  margin: 3pt;
  font-size: 15pt;
  font-variant: normal;
  text-align: center;
  max-width: 100%;
  padding: 10pt;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(248, 236, 215);
  background-color: rgba(63, 63, 63, 0.4);
  transition: all 50ms linear;
}
.download-button:hover {
  background-color: rgba(53, 53, 53, 0.4);
  color: rgb(250, 244, 234);
}
.download-button:active {
  background-color: rgba(43, 43, 43, 0.4);
  color: white;
}

.progressbarWrapper {
  height: 30px;
  display: block;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 5pt;
}

#greenBar {
  display: block;
  height: calc(100% - 6pt);
  max-width: calc(100% - 6pt);
  width: 0px;
  background-color: rgb(43, 194, 83);
  height: calc(100% - 6pt);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: absolute;
  overflow: hidden;
  text-align: center;
  color: white;
  transition: all 500ms ease;
  border-radius: 5pt;
}
#greenBarText {
  position: absolute;
  width: calc(100% - 6pt);
  text-align: center;
}

@media (max-width: 699px) {
  .mod-container {
    display: block;
  }
}

.image-source-link {
  color: #DDD;
}


.user-container .user-container-settings {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10pt;
  padding: 5pt;
  margin: 1;
}


@media (min-width: 680px) {
  .user-container-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 679px) {
  .user-container-settings {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}


.limit {
  background: #700000;
}


@media (max-width: 439px) {
  .user-avatar {
    min-width: 100%;
  }
  .user-mute-profile {
    margin-bottom: 3pt;
    font-size: 17pt;
  }
  .edit-about-settings {
    font-size: 15pt;
  }
  input.date{
    font-size: 100%;
  }
}

.user-setting-gear {
  width: 30pt; 
  height: 30pt; 
  border-radius: 100%;
}
.user-setting-gear > img {
  width: 30pt;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 100%;
}
.user-setting-gear:hover > img {
  rotate: 180deg;
}

/* Анимация ребенка при наведении на элемент */
.anime-scale * {
  transition: all 0.1s;
}
.anime-scale:hover * {
  scale: 1.05;
}
.anime-scale:active * {
  scale: 0.95;
}

.none-display {
  display: none !important;
}


.popup-nonvisible {
  max-height: 0;
}

.popup-menu-select {
  background: var(--panel-background);
  position: sticky;
  margin-top: 3pt;
  border-radius: var(--radius-md);
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.2s ease,
    opacity 0.02s linear;
  display: flex;
  flex-direction: column;
  z-index: 999;
  display: flex;
  align-items: center;
  border: var(--panel-border);
  box-shadow: var(--shadow-soft);
}
.popup-menu-select.popup-nonvisible {
  opacity: 0;
  transition:
    max-height 0.2s ease,
    opacity 0.02s linear 0.18s;
}
.popup-menu-select:not(.popup-nonvisible) {
  max-height: 500pt;
}

div.popup-menu-select > input {
  width: 100%;
  margin: 0;
}
div.popup-menu-select > p.show-more {
  align-self: flex-end;
  margin-right: 5pt;
  transition: all 0.15s;
}

div.alls {
  width: 100%;
  min-height: 85px;
}
div.alls p {
  display: none;
  justify-content: center;
  width: 100%;
}
div.alls:not(:has(div:not(.none-display))) p {
  display: flex;
}
div.alls:not(:has(div:not(.none-display))) {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
