{% extends 'html-partials/standart.html' %}
{% block content %}
    <div class="centered">
        <div>
            <h1 id="title_not_found" title="404 страница не найдена" class="not__found__page__error"></h1>
            <br>
            <a href="/" id="link_not_found" title="нажми здесь чтобы вернуться на главную" class="not__found__page__link"></a>
        </div>
    </div>

    <script src="assets/scripts/404.js"></script>
{% endblock %}
{% block title %}
Open Workshop: 404
{% endblock %}
