{% extends 'html-partials/standart.html' %}
{% block content %}
    <main class="about">
        <article>
            <h1>Что такое Open Workshop?</h1>
            <p>Это open-source проект с открытым <a class="tag-link" href="{{ manager_address }}">API</a> и <a class="tag-link" href="https://github.com/Open-Workshop">кодом</a>.</p>
        </article>

        <hr>
    
        <article>
            <h1>Для чего он нужен?</h1>
            <p>Скачивайте, обновляйте и ищите моды без ограничений!</p>
        </article>
    
        <hr>

        <article>
            <h1>Какие проекты можно реализовать при помощи OW?</h1>

            <list>
                <li type="1"><b>Сайт</b> - обычный web сайт для поиска и скачиваний модов, например как этот 🤓</li>
                <li type="1"><b>Боты</b> - вы можете интегрировать каталог сервиса например в <a class="tag-link" href="https://discord.com/api/oauth2/authorize?client_id=1137841106852253818&permissions=2148063296&scope=applications.commands%20bot">Discord</a>, <a class="tag-link" href="https://t.me/get_from_steam_bot">Telegram</a> или другую соц. сеть!</li>
                <li type="1"><b>Настольный клиент</b> - сервис позволяет как скачивать, так и проверять обновления для модов - т.е.
                можно создать лончер!</li>
            </list>
            Или можете придумать свою идею и реализовать её!
        </article>

        <hr>

        <article>
            <h1>Наши проекты</h1>

            <li>Плагин для браузера!
                <p>
                    OW позволяет скачивать модификации по их ID в Steam.<br>
                    Это расширение позволит скачивать ZIP архивы модов!
                </p>
                <button onclick="toLink('https://github.com/Open-Workshop/open-workshop-browser-extension/releases')">Попробовать!</button>
            </li>

            <br>

            <li>Боты
                <p>
                    Каталог OW доступный через соц. сети)
                </p>
                <button onclick="toLink('https://discord.com/api/oauth2/authorize?client_id=1137841106852253818&permissions=2148063296&scope=bot%20applications.commands')">Discord</button>
                <button onclick="toLink('https://t.me/get_from_steam_bot')">Telegram</button>
            </li>

            <br>

            <li>Этот сайт
                <p>
                    Каталог OW с удобным поиском 🤩
                </p>
                <button onclick="toLink('/')">На главную</button>
            </li>
        </article>

        <hr>

        <article>
            <h1>Юридическая информация</h1>
            <list>
                <li type="1"><a class="tag-link" href="/legal/license">Лицензия</a></li>
                <li type="1"><a class="tag-link" href="/legal/cookies">Условия использования файлов cookie</a></li>
                <li type="1"><a class="tag-link" href="/legal/privacy-policy">Политика обработки персональных данных</a></li>
                <li type="1"><a class="tag-link" href="/legal/site-rules">Правила сайта</a></li>
                <li type="1"><a class="tag-link" href="/legal/copyright">Соглашение по использованию</a></li>
            </list>
        </article>
    </main>

    <script src="assets/scripts/about.js"></script>
{% endblock %}
{% block title %}
Open Workshop: About
{% endblock %}