{% extends 'html-partials/standart.html' %}
{% block content %}
    <main class="about">
        <article>
            <h1>📜 <a class="tag-link" href="{{ ow.api.base }}">Manager API</a></h1>
            <p>Сервис-оркестратор OW.</p>
        </article>
        
        <hr>

        <article>
            <h1>👤 <a class="tag-link" href="{{ storage_address }}">Storage API</a></h1>
            <p>Микросервис управления файлами.</p>
        </article>
    </main>
{% endblock %}
{% block title %}
Open Workshop: API's
{% endblock %}
