{% extends 'html-partials/standart.html' %}
{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center;">
      <article style="display: flex; width: 900pt; max-width: 100%; justify-content: center; padding: 0;">
        <div class="standart-panel" style="position: absolute; display: flex;">
          <div class="standart-panel navigation">
            <button>
              <img src="/assets/images/home-ico.svg" alt="Иконка 'домой'">
            </button>
            <button>
              <img src="/assets/images/image-ico.svg" alt="Иконка 'каталог'">
            </button>
            <button>
              <img src="/assets/images/params-ico.svg" alt="Иконка 'параметры'">
            </button>
          </div>
          <div class="standart-panel navigation">
            <button style="background-color: #FFF8D3;" onclick="saveChanges()">
              <img src="/assets/images/save-ico.svg" alt="Иконка 'сохранить'">
            </button>
          </div>
        </div>

        <div style="width: 100%; display: flex; margin: 3.5pt;">
          <div style="width: 70%;">
            <input dynamlen empty-width="160pt" placeholder="Название игры" type="text" class="title-mod" startdata="{{ data[0]['result']['name'] }}" value="{{ data[0]['result']['name'] }}">
            
            <div style="margin: 5pt; padding: 5pt; background-color: rgba(0, 0, 0, 0.2); border-radius: 20pt;">
              <div style="display: flex; justify-content: space-between;">
                <div class="navigation">
                  <button onclick="fullEditView(false)">
                    <img src="/assets/images/edit-ico.svg" alt="Иконка 'редактирование'">
                  </button>
                  
                  <button onclick="fullEditView(true)">
                    <img src="/assets/images/eye-ico.svg" alt="Иконка 'предпросмотр'">
                  </button>
                </div>

                <div class="navigation">
                  <button onclick="toggleHelpMode($(this))">
                    <img src="/assets/images/info-ico.svg" alt="Иконка 'туториал'">
                  </button>
                </div>
              </div>

              {% with limit=10000, placeholder='Описание не может быть пустым!(', init_text=data[0]['result']['description'] %}
                {% include 'html-partials/desc-edit.html' %}
              {% endwith %} 

              <article id="mod-description" style="display: none;"></article>
            </div>
          </div>

          <div style="width: 30%;">
            {% include 'html-partials/screenshots-edit.html' %}
            
            {% include 'html-partials/tags-edit.html' %}
          </div>
        </div>
      </article>
    </div>

    <style>
      div.navigation {
        display: flex;
      }

      div.navigation > button {
        border-radius: 7pt;
        background-color: #D9D9D9;
        border: none;
        width: 35pt;
        height: 35pt;
        margin: 1pt;
        transition: all 0.1s;
      }
      div.navigation > button:hover {
        background-color: #c5c5c5;
      }
      div.navigation > button:active {
        background-color: #b3b3b3;
      }

      div.navigation > button.toggle {
        background-color: #9899ac;
      }
      div.navigation > button.toggle:hover {
        background-color: #7e7f8f;
      }
      div.navigation > button.toggle:active {
        background-color: #6c6d7a;
      }
      
      div.standart-panel {
        background-color: rgba(15, 15, 15, 0.4);
        border-radius: 5pt;
        padding: 3pt;
        margin-bottom: 3pt;
      }

      input.title-mod {
        border-radius: 1pt;
        border-top-left-radius: 10pt;
        border-bottom-right-radius: 10pt;

        margin-left: -4pt;
        margin-top: -4pt;

        background: #302E3F;
        border: solid #939393;
        color: white;

        max-width: calc(75% - 105pt);
        font-size: 20pt;
        outline: none;
        transition: border background 0.1s;
      }
      input.title-mod:hover {
        border: solid #7e7e7e;
        background: #2b2938;
      }
      input.title-mod:focus {
        border: solid #6b6b6b;
        background: #252330;
      }
    </style>

    <script src="/assets/scripts/vendors/desc-edit.js"></script>
    
    <link rel="stylesheet" href="/assets/styles/vendors/ow-language.css">
    
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="/assets/scripts/images-list.js"></script>
    <script src="/assets/scripts/ow-prism.js"></script>
    <script src="/assets/scripts/ow-logic.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js'></script>
    
    <script src="/assets/scripts/vendors/edit-images-list-addon.js"></script>
    <script src="/assets/scripts/vendors/tags-edit.js"></script>

    <script>
      const $fullModDescView = $('article#mod-description')
      const $fullModDescEdit = $('div[limit=10000]#desc-edit')
      const $fullModDescEditArea = $fullModDescEdit.find('textarea.editing')


      function fullEditView(mode) {
        if (mode) {
          $fullModDescEdit.hide()
          $fullModDescView.show()

          console.log($fullModDescEditArea.val())

          $fullModDescView.html(OpenWS.syntaxToHTML($fullModDescEditArea.val()))
        } else {
          $fullModDescEdit.show()
          $fullModDescView.hide()
        }
      }

      function toggleHelpMode(button) {
        if ($fullModDescEditArea.hasAttr('tutorial')) {
          button.removeClass('toggle')

          $fullModDescEditArea.val($fullModDescEditArea.attr('tutorial'))
          $fullModDescEditArea.removeAttr('tutorial')
        } else {
          button.addClass('toggle')

          $fullModDescEditArea.attr('tutorial', $fullModDescEditArea.val())
          $fullModDescEditArea.val('[h1]Гайд По Форматированию![/h1]\n\nФорматирование работает как в [b]полном[/b] описании мода, так и в [i]коротком[/i].\n\nФорматирование поддерживает заголовки от 1 до 6 (от большего к меньшему).\nФорматирование в виде добавления ссылок как вида https://openworkshop.su , так и [url=https://openworkshop.su]текста с гиперссылкой[/url]\n\nТак же можно вставлять ссылки на изображения:\n[img]https://cdn.akamai.steamstatic.com/steam/apps/105600/header.jpg?t=1666290860[/img]\n\nА ещё можно создать список:\n[list]\n[*] Первый пункт\n[*] Второй пункт\n[/list]\n\n[h5]Удачи в разработке![/h5]')
        }

        fullDescUpdate($fullModDescEditArea)
        $fullModDescView.html(OpenWS.syntaxToHTML($fullModDescEdit.find('textarea.editing').val()))
      }
    </script>

    <script>
      const modID = {{ data[0]['result']['id'] }}
    
      async function saveChanges() {
        // Подготовка данных
        function getChangesModName() {
          const $title = $('input.title-mod')

          return {val: $title.val(), changes: $title.val() != $title.attr('startdata')}
        }

        function getChangesFullDesc() {
          const $descElement = $('div[limit=10000]#desc-edit').find('textarea.editing')

          let result = {startdata: $descElement.attr('startdata')}
          if ($descElement.hasAttr('tutorial')) {
            result.val = $descElement.attr('tutorial')
          } else {
            result.val = $descElement.val()
          }
          result.changes = result.val != result.startdata
          return result
        }

        // Retrieves the logos of changes made in the screenshot container and organizes them into new, changed, and deleted categories.
        function getChangesLogos() {
          const $screenshotContainer = $('ul.js__slider__images.slider__images')

          let result = {new: [], changed: [], deleted: []};

          $screenshotContainer.find('a').each(function() {
            const $this = $(this)

            if ($this.attr('idimg').startsWith('new-screenshot-')) {
              result.new.push({
                type: $this.attr('typecontent'),
                url: $this.attr('href')
              })
            } else if ($this.hasClass('deleted-user-screenshot')) {
              result.deleted.push($this.attr('idimg'))
            } else if ($this.attr('starthref') != $this.attr('href') || $this.attr('starttypecontent') != $this.attr('typecontent')) {
              let changedScreenshot = {id: $this.attr('idimg')}

              if ($this.attr('starthref') != $this.attr('href')) {
                changedScreenshot.url = $this.attr('href')
              }
              if ($this.attr('starttypecontent') != $this.attr('typecontent')) {
                changedScreenshot.type = $this.attr('typecontent')
              }

              const attributesToCheck = [['url', 'href'], ['type', 'typecontent']];

              attributesToCheck.forEach(attribute => {
                if ($this.attr('start' + attribute[1]) !== $this.attr(attribute[1])) {
                  changedScreenshot[attribute[0]] = $this.attr(attribute[1]);
                }
              });

              result.changed.push(changedScreenshot)
            }
          })
          
          return result
        }
        
        function getChangesTags() {
          const $tagsContainer = $('div#tags-edit-selected-tags')

          let result = {new: [], deleted: []};
          
          $tagsContainer.find('div').each(function() {
            const $this = $(this)
            if ($this.hasAttr('saved')) {
              if ($this.hasClass('none-display')) {
                result.deleted.push($this.attr('tagid'))
              }
            } else {
              result.new.push($this.attr('tagid'))
            }
          })

          return result
        }


        // Проверка есть ли разница
        function haveDifference(title, fullDesc, logos, tags) {
          let result = {
            modBase: title.changes || fullDesc.changes,
            modLogos: logos.new.length > 0 || logos.changed.length > 0 || logos.deleted.length > 0,
            modTags: tags.new.length > 0 || tags.deleted.length > 0
          }
          result.all = result.modBase || result.modLogos || result.modTags

          return result
        }


        // Исполнитель базового изменения
        async function modUpdate(titleMod, fullDesc) {
          const url = '/api/accounts/edit/mod?mod_id='+modID

          // Отправляем все данные в боди, выполняя функцию ассинхронно, POST запрос
          var formData = new FormData();

          if (titleMod.changes) {formData.append('mod_name', titleMod.val)}
          if (fullDesc.changes) {formData.append('mod_description', fullDesc.val)}

          try {
            const response = await fetch(url, {
              method: 'POST',
              body: formData
            });
            const data = await response.json();
            console.log('Success:', data);

            // 202 - ожидание
            if (response.status != 202) {
              new Toast({
                title: 'Ошибка',
                text: data,
                theme: 'warning',
              })
            }
          } catch (error) {
            console.error('Error:', error);
            new Toast({
              title: 'Сетевая ошибка',
              text: error,
              theme: 'danger',
            })
          }
        }

        // Исполнитель изменения логотипов
        async function modUpdateLogos(logos) {
          // Все изменения POST и происходят внутри body
          if (logos.new.length > 0) {
            const urlAdd = '/api/accounts/add/resource' 

            logos.new.forEach(async (logo) => {
              console.log(logo)
              try {
                var formData = new FormData();

                formData.append('resource_type_name', logo.type)
                formData.append('resource_url', logo.url)
                formData.append('resource_owner_id', modID)

                const response = await fetch(urlAdd, {method: 'POST', body: formData});
                const data = await response.json();

                // 202 - ожидание
                if (response.status != 202) {
                  console.log('Success add logo:', data);
                  new Toast({
                    title: 'Добавление лого',
                    text: data,
                    theme: 'warning',
                  })
                }
              } catch (error) {
                console.error('Error edit logo:', error);
                new Toast({
                  title: 'Сетевая ошибка',
                  text: error,
                  theme: 'danger',
                })
              }
            })
          }

          if (logos.changed.length > 0) {
            const urlEdit = '/api/accounts/edit/resource?resource_id='

            logos.changed.forEach(async (logo) => {
              console.log(logo)
              try {
                var formData = new FormData();

                if (logo.hasOwnProperty('type')) {formData.append('resource_type', logo.type)}
                if (logo.hasOwnProperty('url')) {formData.append('resource_url', logo.url)}

                const response = await fetch(urlEdit+logo, {method: 'POST', body: formData});
                const data = await response.json();

                // 202 - ожидание
                if (response.status != 202) {
                  console.log('Success edit logo:', data);
                  new Toast({
                    title: 'Редактирование лого',
                    text: data,
                    theme: 'warning',
                  })
                }
              } catch (error) {
                console.error('Error edit logo:', error);
                new Toast({
                  title: 'Сетевая ошибка',
                  text: error,
                  theme: 'danger',
                })
              }
            })
          }
          
          if (logos.deleted.length > 0) {
            const urlDelete = '/api/accounts/delete/resource?resource_id='

            logos.deleted.forEach(async (logo) => {
              console.log(logo)
              try {
                const response = await fetch(urlDelete+logo, {method: 'POST'});
                const data = await response.json();

                // 202 - ожидание
                if (response.status != 202) {
                  console.log('Success delete logo:', data);
                  new Toast({
                    title: 'Удаление лого',
                    text: data,
                    theme: 'warning',
                  })
                }
              } catch (error) {
                console.error('Error delete logo:', error);
                new Toast({
                  title: 'Сетевая ошибка',
                  text: error,
                  theme: 'danger',
                })
              }
            })
          }
        }

        async function modUpdateTags(tags) {
          console.log(tags)
          const url = '/api/accounts/association/mod/tag?mod_id='+modID

          async function editRemoteTag(mode, tag) {
            try {
              console.log(url+'&mode='+mode+'&tag_id='+tag)
              const response = await fetch(url+'&mode='+mode+'&tag_id='+tag, {method: 'POST'});

              // 202 - ожидание
              if (response.status != 202) {
                new Toast({
                  title: 'Ошибка',
                  text: data,
                  theme: 'warning',
                })
              } else {
                console.log('Success:', await response.json());
              }
            } catch (error) {
              console.error('Error:', error);
              new Toast({
                title: 'Сетевая ошибка',
                text: error,
                theme: 'danger',
              })
            }
          }

          for (const tag of tags.new) {
            await editRemoteTag(true, tag);
          }
          for (const tag of tags.deleted) {
            await editRemoteTag(false, tag);
          }
        }


        // Проверяем, подтверждаем изменения
        const titleVal = getChangesModName()
        const fullDescVal = getChangesFullDesc()
        const changesLogosVal = getChangesLogos()
        const changesTagsVal = getChangesTags()

        console.log(changesTagsVal)

        const haveChanges = haveDifference(titleVal, fullDescVal, changesLogosVal, changesTagsVal)

        // Если нет изменений, предупреждаем пользователя
        if (!haveChanges.all) {
          new Toast({
            title: 'Нечего сохранять',
            text: 'Вы должны сделать изменения чтобы их можно было сохранить',
            theme: 'info',
          });

          return
        }


        // Исполняем сохранение
        if (haveChanges.modBase) {await modUpdate(titleVal, fullDescVal)}
        if (haveChanges.modLogos) {await modUpdateLogos(changesLogosVal)}
        if (haveChanges.modTags) {await modUpdateTags(changesTagsVal)}


        // Сообщаем пользователю об успешном сохранении
        new Toast({
          title: 'Изменения сохранены',
          text: 'Изменения были успешно сохранены',
          theme: 'success',
        })
        //location.reload()
      }
    </script>
{% endblock %}

{% block title %}
{{ data[0]['result']['name'] }} - edit Open Work
{% endblock %}

{% block description %}
{{ data[0]['result']['short_description'] }}
{% endblock %}
