{% extends 'html-partials/standart.html' %}
{% block content %}
  <link href="/assets/styles/pages/mod-add.css" rel="stylesheet"/>

  <main id="main-container" class="mod-add">
      <h1 class="mod-add__title">Загрузить мод 😉</h1>
      
      <input displaylimit class="edit-username mod-add__name" placeholder="Этот мод прозвали..." maxlength="60" minlength="1" id="mod-name-title" name="mod-name-title">

      {% with module_key='add', aria_label='Режим описания', limit=256, placeholder='Описание не может быть пустым!(', init_text='' %}
        {% include 'html-partials/mod-edit/description-module.html' %}
      {% endwith %}

      {% include "html-partials/new-game-selector.html" %}

      {% include "html-partials/upload-file.html" %}

      <div class="mod-add__actions">
        <button onclick="uploadNewMod()">Подтвердить</button>
      </div>

      {% include "html-partials/green-bar.html" %}
  </main>

  <script src="/assets/scripts/components/new-game-selector.js"></script>
  <script src="/assets/scripts/pages/mod-add.js"></script>
{% endblock %}


{% block title %}
OW: Add mod
{% endblock %}

{% block description %}
Добавьте мод в свободный каталог Open Workshop!
{% endblock %}
