{% extends 'html-partials/standart.html' %}
{% block content %}
{% for style in edit_page.styles %}
<link href="{{ style }}" rel="stylesheet"/>
{% endfor %}

<div
  id="{{ edit_page.root_id }}"
  data-edit-page='{{ edit_page | tojson | forceescape }}'
  data-edit-kind="{{ edit_page.kind }}"
  data-entity-id="{{ edit_page.entity_id }}"
  {% if edit_page.kind == 'mod' %}
  data-mod-id="{{ edit_page.entity_id }}"
  {% elif edit_page.kind == 'game' %}
  data-game-id="{{ edit_page.entity_id }}"
  {% endif %}
>
  <main class="{{ edit_page.main_classes }}">
    {% include edit_page.template_nav %}
    {% for page_template in edit_page.template_pages %}
      {% include page_template %}
    {% endfor %}
  </main>

  {% include "html-partials/save-progress.html" %}
</div>

{% for script in edit_page.scripts %}
<script src="{{ script }}"></script>
{% endfor %}

{% endblock %}

{% block title %}
{{ edit_title }}
{% endblock %}

{% block description %}
{{ edit_description }}
{% endblock %}
