{% extends 'html-partials/standart.html' %}
{% block content %}
  <div style="display: flex; flex-direction: column; align-items: center;">
    <article id="main-container">
      <h1 style="color: white; font-size: 25pt;">Загрузить мод 😉</h1>
      
      <div style="width: 100%; margin-top: 5pt; background: rgba(0, 0, 0, 0.5);">
        <input displaylimit class="edit-username" style="padding-left: 7pt; width: 100%; border: none; border-radius: 0;" placeholder="Этот мод прозвали..." maxlength="60" minlength="1" id="mod-name-title" name="mod-name-title">
      </div>

      {% include 'html-partials/desc-edit.html' %}

      {% include "html-partials/new-game-selector.html" %}

      {% include "html-partials/upload-file.html" %}

      <style>
        button.add-mod {
          height: 45px;
          width: 180px;
          border-radius: 10pt;
          margin-top: 5pt;
          font-size: 20pt;
          border: none;
          background: #555555;
          color: white;
          margin-bottom: 3pt;
          transition: all 0.2s;
        }
        button.add-mod:hover {
          background: #4d4d4d;
          font-size: 20.5pt;
        }
        button.add-mod:active {
          background: #444444;
          font-size: 19.5pt;
        }

        article#main-container {
          max-width: 300pt;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
        }
        @media screen and (min-width: 459px) {
          article#main-container {
            scale: 1.1;
            margin-top: 20pt;
          }
        }
      </style>
      <button class="add-mod" onclick="uploadNewMod()">Подтвердить</button>

      {% include "html-partials/green-bar.html" %}
    </article>
  </div>

  <script>
    const titleMod = $('input#mod-name-title')
    const descMod = $('textarea#editing-short')
    const fileMod = $('input#input-mod-file-upload')
    const gameOwnerMod = $('div.select-game-menu')

    function uploadNewMod() {
      function printError(targetText) {
        banner_error_a = {
          title: 'Ошибка форматирования',
          text: targetText,
          theme: 'warning',
          autohide: true,
          interval: 6000
        };

        new Toast(banner_error_a);
      }

      // Проверяем корректность заголовка
      if (titleMod.val().length <= 0) {
        printError("Не указали название мода!")
        return
      }

      // Проверяем корректность описания
      const textDesc = descMod.val()
      if (textDesc.length <= 0) {
        printError("Описание мода не указано!")
        return
      } else if (textDesc.length > 256) {
        printError("Описание мода слииишком длинное!")
        return
      }

      // Проверяем корректность игры-создателя
      if (!gameOwnerMod.attr('gameid')) {
        printError("Игра-владелец не выбрана!")
        return
      }

      // Проверяем корректность файла
      if (fileMod.get(0).files.length <= 0) {
        printError("Нужно выбрать файл первой версии!")
        return
      }

      // Исполняем загрузку
      uploadStart();

      var formData = new FormData();
      formData.append('mod_source', 'local');
      formData.append('mod_game', gameOwnerMod.val());
      formData.append('mod_name', titleMod.val());
      formData.append('mod_short_description', descMod.val());
      formData.append('mod_description', descMod.val());
      formData.append('mod_public', '2');
      formData.append('mod_file', fileMod.prop('files')[0]);

      var xhr = new XMLHttpRequest();

      xhr.upload.addEventListener('progress', function(event) {
        if (event.lengthComputable) {
          progressUpdate((event.loaded / event.total) * 100)
        }
      });

      xhr.onload = function() {
        if (xhr.status != 200) { // обработка ошибки
          // обработка ошибки
          banner_error_a = {
            title: 'Ошибка загрузки ('+xhr.status+')',
            text: xhr.responseText,//.substring(1, text.length - 1),
            theme: 'warning',
            autohide: true,
            interval: 6000
          };

          new Toast(banner_error_a);
        } else {
          // обработка успешного ответа
          window.location.href = `/mod/${xhr.responseText}/edit`; // Перенаправление на новую страницу
        }
        uploadComplete()
      };

      xhr.onerror = function() {
        // обработка ошибки
        banner_error_a = {
          title: 'Сетевая ошибка',
          text: xhr.responseText,
          theme: 'danger',
          autohide: true,
          interval: 6000
        };

        new Toast(banner_error_a);
        bar.hide()
      };

      xhr.open('POST', "/api/accounts/add/mod", true);
      xhr.send(formData)
    }
  </script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js'></script>
  <script src="/assets/scripts/ow-logic.js"></script>
  <script src="/assets/scripts/vendors/desc-edit.js"></script>
  <script src="/assets/scripts/ow-prism.js"></script>
  <link rel="stylesheet" href="/assets/styles/vendors/ow-language.css">
{% endblock %}


{% block title %}
OW: Add mod
{% endblock %}

{% block description %}
Добавьте мод в свободный каталог Open Workshop!
{% endblock %}
