{% extends 'html-partials/standart.html' %}
{% block content %}
    <div class="main-about">
        <article>
            <h1>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ САЙТА <a class="steam-link" href="https://openworkshop.su/">openworkshop.su</a></h1>
            <p>
                ...
            </p>
                <h1>07.12.2023 - дата публикации / последнего изменения</h1>
        </article>
    </div>
    

    <script src="assets/scripts/about.js"></script>
{% endblock %}
{% block title %}
Open Workshop: Privacy Policy
{% endblock %}