{% extends 'html-partials/standart.html' %}
{% block content %}
    <div class="main-about">
        <article>
            <h1>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ САЙТА <a class="steam-link" href="https://openworkshop.su/">openworkshop.su</a></h1>
            <p>
Мы уважаем вашу конфиденциальность и просим Вас ознакомиться с настоящей Политикой (далее - Политика).
            </p>

            <h2>Кто оператор?</h2>
            <p>
Объединение разработчиков занимающихся развитием проекта (далее - Open Workshop, мы, Оператор)
<br>
<br>Адрес электронной почты: miskler@yandex.ru 
<br>
<br>Владелец: Лысенко Михаил Андреевич
            </p>
            <h2>Вход через Yandex ID</h2>
            <p>
                Авторизируясь через Yandex ID на сайте Вы передаёте согласие на обработку и хранение:
                <br>1. Адреса електронной почты
                <br>2. Никнейма (псевдонима)
                <br>3. Уникальный ID вашего Яндекс-аккаунта
                <br>4. Аватар (если таковой установлен)
                <br>
                <br>Вход через Yandex ID является одновременно и регистрацией и авторизацией. Тип входа зависит от того регистрировались ли Вы до этого через ваш Яндекс-аккаунта на Сайте Оператора.
            </p>
            <h2>Использование</h2>
            <p>
                Вы даёте согласие на сбор, обработку ваших данных и передачу информации нашим партнёрам. Так же ваши данные под условие обезличивания могут добавляться в общедоступную статистику.
            </p>
            <h2>Об изменениях</h2>
            <p>
                Настоящее соглашение может изменяться и(или) дополняться без уведомления пользователей Сайта.
                <br>Пользуясь Сайтом вы даёте своё согласие на все ранее описанное.
            </p>
            <h1>07.12.2023 - дата публикации / последнего изменения</h1>
        </article>
    </div>
    

    <script src="assets/scripts/about.js"></script>
{% endblock %}
{% block title %}
Open Workshop: Privacy Policy
{% endblock %}