{% extends 'html-partials/standart.html' %}
{% block content %}
<link href="/assets/styles/pages/user.css" rel="stylesheet"/>

<main class="user">
  <div class="user-profile">
    <div class="user-left-bar">
      <div class="user-avatar-box">
        <img src="{{ user_data.general.avatar_url }}" data-fallback-src="/assets/images/no-avatar.jpg" alt="Аватар пользователя" style="width: 100%;" class="user-avatar" />
      </div>

      {% if user_data.general.mute %}
      <p title="Социальная активность пользователя ограничена из-за нарушения правил сервиса..." datejs="{{ user_data.general.mute_js }}" id="user-mute" class="user-mute-profile" data-relative-time="countdown" data-relative-prefix="через " data-relative-break="true" data-relative-hide-on-expire="true" data-relative-class="ow-relative-time-badge ow-relative-time-badge--stacked">Лишен голоса до<br><a class="tag-link" translate="no">{{ user_data.general.mute }}</a></p>
      {% endif %}
    </div>

    <script src="/assets/scripts/user.js"></script>

    <div style="width: 100%">
      <h1 id="mod-name-title" style="padding-bottom: 3pt; padding-bottom: 3pt; display: flex; justify-content: space-between; align-items: center;" translate="no">
        <div>
          {{ user_data.general.username }}{% if user_data.general.grade|length >0 %} <a title="Звание пользователя (за определенные заслуги)" style="padding-top: 0; padding-bottom: 0;" class="tag-link-red" translate="no">{{ user_data.general.grade }}</a>{% endif %} 
        </div>
        <div class="user-profile__actions">
          {% if user_data.general.editable.admin %}
          <a href="/user/{{ user_data.general.id }}/mods?show_not_public=true&trigger=edit" class="button-style button-style-small user-admin-mods">Моды пользователя</a>
          {% endif %}
          {% if user_data.general.editable.any %}
          <a href="/user/{{ user_data.general.id }}/settings" class="user-setting-gear no-padding">
            <img src="/assets/images/svg/white/gear.svg" alt="Перейти в настройки">
          </a>
          {% endif %}
        </div>
      </h1>
      <h4 id="mod-tags-title">
          <a title="Дата регистрации" id="date_creation_a_tag" datejs="" class="tag-link" translate="no">📝{{ user_data.general.registration_date }}</a>
          <div title="Репутация пользователя: {{ user_data.general.reputation }}" class="tag-link-blue" translate="no">
            {% if user_data.general.reputation < 0 %}👿{% endif %}
            {% if user_data.general.reputation > 0 %}😇{% endif %}
            <a class="tag-link" translate="no">{{ user_data.general.reputation }}</a>
            {% if user_data.general.reputation == 0 %}👀{% endif %}
          </div>

          {% if user_data.general.author_mods > 0 %}
          <a title="Автор {{ user_data.general.author_mods }} модов" class="tag-link-orange" translate="no">📤{{ user_data.general.author_mods }}</a>
          {% endif %}

          {% if user_data.general.comments > 0 %}
          <a title="Оставил {{ user_data.general.comments }} комментариев" class="tag-link-orange" translate="no">✏️{{ user_data.general.comments }}</a>
          {% endif %}
      </h4>

      {% if user_data.general.about_enable %}
      <article id="mod-description">{{ user_data.general.about }}</article>
      {% endif %}
    </div>
  </div>

  {% if user_mods %}
  <div class="outline-container">
    {% if user_mods['not_show_all'] %}
    <style>
      .user-mod:last-child {
        mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent 85%);
        margin-bottom: -10pt;
        padding-bottom: 0;
        pointer-events: none;
      }

      .view-button {
        height: 25pt;
        width: 25pt;
        margin-left: 5pt;
        transition: all 0.1s;
      }
      .view-button:hover {
        scale: 1.2;
      }
      .view-button:active {
        scale: 0.9;
      }
    </style>
    {% endif %}

    <h3 style="text-align: center; display: flex; flex-direction: row; justify-content: center; align-items: center;">
      Моды пользователя
      {% if user_mods['not_show_all'] %}
      <a href="/user/{{ user_data.general.id }}/mods" class="view-button no-padding">
        <img src="/assets/images/svg/white/arrow-to.svg" alt="Смотреть больше" style="width: 25pt;">
      </a>
      {% endif %}
    </h3>
    {% for item in user_mods['mods_data'] %}
    <a class="element user-mod" href="/mod/{{ item.id }}">
      <img src="{{ item.img or ow.assets.images.fallback }}" data-fallback-src="{{ ow.assets.images.fallback }}" alt="Логотип мода">
      <p translate="no">{{ item.name }}</p>
    </a>
    {% endfor %}
  </div>
  {% endif %}
  
  <article>
    <h5>Тут будут ваши форумы, друзья и т.п.! Осталось только дождаться :)</h5>
  </article>
</main>
{% endblock %}

{% block title %}
{{ user_data.general.username }} - OW user
{% endblock %}

{% block description %}
{{ user_data.general.about }}
{% endblock %}


{% block metaimage %}
{{ user_data.general.avatar_url }}
{% endblock %}
