{% extends 'html-partials/standart.html' %}
{% block content %}
<link href="/assets/styles/pages/user.css" rel="stylesheet"/>
<link href="/assets/styles/pages/user-settings.css" rel="stylesheet"/>

{% set rights_labels = {
  'admin': 'Администратор',
  'write_comments': 'Писать комментарии',
  'set_reactions': 'Оставлять реакции',
  'create_reactions': 'Создавать реакции',
  'publish_mods': 'Публиковать моды',
  'change_authorship_mods': 'Изменять авторство модов',
  'change_self_mods': 'Изменять свои моды',
  'change_mods': 'Изменять чужие моды',
  'delete_self_mods': 'Удалять свои моды',
  'delete_mods': 'Удалять чужие моды',
  'mute_users': 'Мутить пользователей',
  'create_forums': 'Создавать форумы',
  'change_authorship_forums': 'Изменять авторство форумов',
  'change_self_forums': 'Изменять свои форумы',
  'change_forums': 'Изменять чужие форумы',
  'delete_self_forums': 'Удалять свои форумы',
  'delete_forums': 'Удалять чужие форумы',
  'change_username': 'Изменять никнейм',
  'change_about': 'Изменять "обо мне"',
  'change_avatar': 'Менять аватар',
  'vote_for_reputation': 'Голосовать за репутацию'
} %}

<main class="user settings" data-user-id="{{ user_data.general.id }}" data-username="{{ user_data.general.username }}">
  {% if not user_access.any %}
  <h1 style="text-align: center;">
    {% if user_access.my %}Похоже к вам применены временные санкции и вы не можете редактировать оформление своего профиля :({% endif %}
    {% if not user_access.my %}Этот профиль удален!{% endif %}
  </h1>
  {% endif %}

  {% if (not user_data.delete_user and (user_access.any or user_access.my)) or (user_data.delete_user and user_access.admin) %}
  {% include 'html-partials/user-settings/nav.html' %}
  <hr id="mobile-hr-user-settings">
  <div style="width: 100%;">
    {% if not user_data.delete_user %}
      {% include 'html-partials/user-settings/profile.html' %}
    {% endif %}
    {% if user_access.my or user_access.admin %}
      {% if not user_data.delete_user %}
        {% include 'html-partials/user-settings/integrations.html' %}
      {% endif %}
      {% include 'html-partials/user-settings/rights.html' %}
    {% endif %}
    {% if user_access.my %}
      {% include 'html-partials/user-settings/delete-account.html' %}
    {% endif %}
  </div>
  {% endif %}
</main>

<script src="/assets/scripts/vendors/pager-logic.js"></script>
<script src="/assets/scripts/pages/user-settings.js"></script>
{% endblock %}

{% block title %}
{{ user_data.general.username }} - user settings
{% endblock %}

{% block description %}
Страница настроек пользователя {{ user_data.general.username }} в Open Workshop
{% endblock %}


{% block metaimage %}
{{ user_data.general.avatar_url }}
{% endblock %}
