<pager variants="profile, delete-account, rights, integrate">
  <label>Навигация</label>
  {% if not user_data.delete_user %}
  <button id="page-profile-button" active-in-variant="page-save-button" variant="profile" data-action="pager-change">Профиль</button>
  {% endif %}
  {% if user_access.my or user_access.admin %}
  {% if not user_data.delete_user %}
  <button id="page-integrate-button" disabled-in-variant="page-save-button" variant="integrate" data-action="pager-change">Интеграция</button>
  {% endif %}
  <button id="page-rights-button" active-in-variant="page-save-button" variant="rights" data-action="pager-change">Права</button>
  {% endif %}

  {% if user_access.my %}
  <button id="page-delete-account-button" disabled-in-variant="page-save-button" variant="delete-account" data-action="pager-change">Удалить аккаунт</button>
  {% endif %}

  <button id="page-save-button" data-action="user-save-profile">Сохранить</button>
</pager>
