<div id="page-profile" class="user-container-settings">
  <div class="user-left-bar">
    <div class="wrapper" style="width: 100%; max-width: 150pt;">
      <div class="user-avatar-box">
          <img startdata="{{ user_data.general.avatar_url }}" src="{{ user_data.general.avatar_url }}" alt="Аватар пользователя" id="user-avatar-img" style="width: 100%;" class="user-avatar">

          {% if user_access.change_avatar %}
          <div class="user-edit-icon" onclick="$('#reset-avatar').removeClass('toggled'); $('#file-select-avatar').click();">
            <img src="/assets/images/icon-edit.svg" alt="Выбрать аватар">
          </div>

          <div id="reset-avatar" onclick="$(this).toggleClass('toggled')" title="Сбросить аватар">
            <img src="/assets/images/svg/white/trash.svg" alt="Иконка мусорного ведра">
          </div>
          {% endif %}

          <input type="file" accept=".png, .jpg" style="display: none;" id="file-select-avatar">
      </div>
      
      {% if user_access.mute_users %}
      <div class="datatime-delta">
        <input type="number" min="0" max="100" value="0" title="Оставьте поле=0 чтобы не учитывать изменения" id="mute-delta">
        <select id="mute-delta-unit">
          <option value="60">минут</option>
          <option value="3600" selected>часов</option>
          <option value="86400">дней</option>
          <option value="604800">недель</option>
          <option value="18144000">месяцев</option>
        </select>
      </div>
      {% endif %}
      {% if user_data.general.mute %}
      <p title="Социальная активность пользователя ограничена из-за нарушения правил сервиса..." datejs="{{ user_data.general.mute_js }}" id="user-mute" class="user-mute-profile">Лишен голоса до<br><a class="tag-link" translate="no">{{ user_data.general.mute }}</a></p>
      {% endif %}
    </div>
  </div>

  <div id="user-right-bar">
    {% if user_access.change_username %}
    <input id="username" placeholder="Псевдоним..." dynamlen displaylimit minlength="3" maxlength="18" empty-width="160px" startdata="{{ user_data.general.username }}" value="{{ user_data.general.username }}" name="username">
    {% endif %}
    {% if not user_access.change_username %}
    <h1>{{ user_data.general.username }}</h1>
    {% endif %}

    {% if user_access.grade %}
    <input id="grade" placeholder="Звание..." dynamlen maxlength="18" empty-width="110px" startdata="{{ user_data.general.grade }}" type="text" title="Звание пользователя (за определенные заслуги)" value="{{ user_data.general.grade }}">
    {% endif %}
    {% if not user_access.grade and user_data.general.grade|length >0 %}
    <a title="Звание пользователя (за определенные заслуги)" style="padding-top: 0; padding-bottom: 0;" class="tag-link-red" translate="no">{{ user_data.general.grade }}</a>
    {% endif %}

    {% if user_access.change_about %}
      {% with limit=512, placeholder='Обо мне...', init_text=(user_data.general.about if user_data.general.about_enable else "") %}
        {% include 'html-partials/desc-edit.html' %}
      {% endwith %}
    {% endif %}
    {% if not user_access.change_about and user_data.general.about_enable %}
    <article id="mod-description">{{ user_data.general.about }}</article>
    {% endif %}
  </div>
</div>
